

/*------------------Ui-grid custom ----------------------*/

.ui-grid-pager-row-count-picker select {
    padding: 0px 5px;
    height: 23px;
}

.ui-grid {
    border: none !important;
    height: auto !important;
    /*box-shadow: 2px 3px 8px 0px rgba(0,0,0,.4);*/
    /*box-shadow: 1px 1px 4px 3px rgba(0,0,0,.29);*/
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
    .ui-grid {
        border-top:1px solid #ddd !important;
    }
/*.ui-grid-viewport {
    min-height: 500px;
}*/

.ui-grid-menu .ui-grid-menu-inner ul li button:hover, .ui-grid-menu .ui-grid-menu-inner ul li button:focus {
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.2);
}

.ui-grid-header {
    border-bottom: 4px solid #d4d4d4;
    box-sizing: border-box;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #f6f6f6;
}

.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background: #ddd;
}

.ui-grid-menu .ui-grid-menu-inner {
    background: #fff;
}

.ui-grid-render-container-body .ui-grid-viewport {
    width: 100% !important;
}

.ui-grid-render-container-body .ui-grid-header-viewport {
    width: 100% !important;
}

.grid .ui-grid-menu-button {
    width: 26px;
    height: 26px;
    border: 0px;
    background: none;
}

    .grid .ui-grid-menu-button .ui-grid-icon-container {
        opacity: 0
    }

/*.ui-grid-cell-contents {white-space:normal !important;     float: left;
    padding: 8px;
    width: 100%;}*/
.ui-grid-header-cell {
    border: none !important; /*height:58px;*/
}

.ui-grid-cell {
    border: none !important; /*height:25px !important;*/ /*display: table-cell;*/
    /*vertical-align: middle;*/
}

.ui-grid-header-cell-wrapper {
    background: #fff !important
}

.ui-grid-row { /*height:25px !important;*/ /*display: table-row;*/
}

.ui-grid-header-cell .ui-grid-cell-contents {
    white-space: nowrap !important;
    line-height: 25px;
}

.ui-grid-row .ng-isolate-scope {
    border-bottom: 1px solid #ddd; /*display:table-cell;*/
}
/*.ui-grid-pager-control {margin-top:6px;}*/
.ui-grid-pager-control button.disabled, .ui-grid-pager-control button[disabled], fieldset[disabled] .ui-grid-pager-control button {
    opacity: .2;
}
/*.ui-grid-top-panel {background:inherit;}*/
.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
    background: #fff;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: #fff;
}

.ui-grid-pager-control button {
    height: auto;
    font-size: 15px;
    padding: 0px;
    background: none !important;
    border: none !important;
}

    .ui-grid-pager-control button.ui-grid-pager-first {
        padding-right: 0px;
    }

    .ui-grid-pager-control button.ui-grid-pager-last {
        padding-left: 0px;
    }

.pagi {
    display: inline-block;
    padding-top: 6px;
}

    .pagi em {
        padding: 2px 10px 0 0;
        float: left;
    }

.ui-grid-pager-row-count-picker {
    padding-top: 6px;
}

.ui-grid-pager-control input {
    height: 22px;
    padding: 0px 4px 0 10px;
}

.ui-grid-pager-panel { /*background:#eee;*/
    border-top: 1px solid #ddd;
    margin-top: 1px;
    height: 31px;
    position: static;
}

.ui-grid-viewport {
    overflow: auto !important;
}

.ui-grid-pager-control .ui-grid-pager-max-pages-number {
    vertical-align: middle;
    display: inline-block;
}

    .ui-grid-pager-control .ui-grid-pager-max-pages-number em {
        padding: 0 7px;
    }

.ui-grid-pager-count-container {
    line-height: 29px;
    margin-top: 0;
}

.ui-grid-row .ng-isolate-scope .ui-grid-cell .ui-grid-cell-contents + div, .editcellclass {
    position: absolute;
    z-index: 2434;
    min-width: 121px;
    display: block;
    background: #f3f3f3;
    border: 1px solid #d4d4d4;
    white-space: nowrap;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 2px 4px 12px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 2px 4px 12px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 2px 4px 12px 5px rgba(0, 0, 0, 0.2);
}

.ui-grid-menu {
    background: #fff;
    padding: 0px;
}

.ui-grid-menu-button .ui-grid-menu {
    right: 0;
    width: 500px;
    top: 38px;
    padding: 0;
    background: #fff;
}

.ui-grid-menu .ui-grid-menu-inner ul li {
    padding: 0px;
    float: left;
    width: 100%;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-inner ul li {
    padding: 0px;
    float: left;
    width: 33.3%;
    border-right: 1px solid #ddd;
    border-left: none;
}

.ui-grid-footer-cell {
    background: #fff;
    border-right: 1px solid #ddd;
}

.ui-grid-footer-panel {
    border: none;
    border-top: 1px solid #ddd;
    background: #fff;
    height: 25px !important;
}

.ui-grid-scrollbar-placeholder {
    height: auto !important;
}

ui-grid-filter-container {
    padding: 4px 5px;
}

.ui-grid-column-menu-button-last-col {
    margin-right: 0px;
}

.cellEditorul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .cellEditorul li .cellalertbtn {
        min-width: 100%;
        padding: 8px;
        width: 100%;
        color: inherit;
        height: auto;
        display: inline-block;
        text-align: left;
        background: transparent;
        border: none;
        border-bottom: 1px solid #d4d4d4;
    }

.cellEditorsLink .close {
    position: absolute;
    top: 5px;
    right: 23px;
}

.ui-grid-cell {
    height: 38px !important;
}

.ui-grid-cell-contents {
    font: 500 13px/25px open sans;
}

.ui-grid-header-cell .ui-grid-cell-contents {
    font-weight: bold;
}

.ui-grid-card-view .ui-grid-cell-contents {
    height: auto;
    padding-bottom: 8px;
    white-space: unset;
}

.ui-grid-card-view span.cellheadername {
    padding: 0 10px 0 0;
}

.ui-grid-card-view .ui-grid-row .ui-grid-cell:first-child .ui-grid-cell-contents div.imageview div {
    border: .1px solid #ddd;
}


/*------------------ / Ui-grid custom ----------------------*/
