
<div class="col-sm-8" style="margin: 0 auto;">
    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-lg-1 col-lg-12 col-md-12">
                    <h4 class="txt-highlight text-center m-t-10 m-b-0 red">Customer Information Not Found</h4>
                    <h3 class="txt-highlight text-center m-t-10 m-b-0">Search Customers</h3>
                </div>
            </div>
            <div class="row seacrh-header">
                <div class="col-lg-1 col-lg-12 col-md-12">
                    <div class="input-group input-group-button input-group-primary">
                        <input type="text" id="txtCustomerFilter" class="form-control" placeholder="Search here..." ng-keyup="getSearchCustomer($event)" ng-model="CustomerFilter">
                        <div class="search-table" ng-show="showCustomerList">
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table id="customer_tbl" class="table table-bordered table-condensed table-striped">
                                        <thead>
                                            <tr class="themesecondary">
                                                <td></td>
                                                <td>Customer Id</td>
                                                <td>Customer Name</td>
                                                <td>Id Number</td>
                                                <td>Mobile Number</td>
                                               <!-- <td>Contract Number</td>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="list in customerlist">
                                                <td>
                                                    <button class="btn btn-primary" ng-click="selectCustomer(list)" style="padding: 2px 10px;">
                                                        <i class="fa fa-external-link" style="margin:0;font-size: 13px;"></i>
                                                    </button>
                                                </td>
                                                <td>{{list.CustomerID}}</td>
                                                <td>{{list.Name}}</td>
                                                <td>{{list.IDNumber}}</td>
                                                <td>{{list.MobileNumber}}</td>
                                                <!--<td>{{list.ContractNumber}}</td>-->
                                            </tr>
                                            <tr ng-if="customerlist.length < 1" class="">
                                                <td colspan="6">No Customer</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary input-group-addon" id="basic-addon1" ng-click="getSearchCustomer($event)">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>