﻿

<div class="row" ng-click="clickbody($event)" ng-if="false">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <p class="txt-highlight text-center m-t-20">
                            {{'Search your cretiria' | translate}}
                        </p>
                    </div>
                </div>
                <div class="row seacrh-header">
                    <div class="col-lg-4 offset-lg-4 offset-sm-3 col-sm-6 offset-sm-1 col-xs-12">
                        <div class="input-group input-group-button input-group-primary">
                            <input type="text" id="txtContractNumber" class="form-control" placeholder="Search here..." ng-keyup="getcontract($event)" ng-model="ContractNumber">
                            <div class="search-table" ng-show="showcontractlist">
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-condensed table-striped">
                                            <thead>
                                                <tr class="themesecondary">
                                                    <th>{{'Contract Number' | translate}}</th>
                                                    <th>{{'Id Number' | translate}}</th>
                                                    <th>{{'Mobile Number' | translate}}</th>
                                                    <th>{{'Customer Id' | translate}}</th>
                                                    <th>{{'Employee Id' | translate}}</th>
                                                    <th>{{'Employee Iqama' | translate}}</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="list in contractlist" ng-click="selectcontract(list)">
                                                    <td>{{list.ContractNumber}}</td>
                                                    <td>{{list.IDNumber}}</td>
                                                    <td>{{list.MobileNumber}}</td>
                                                    <td>{{list.CustomerID}}</td>
                                                    <td>{{list.EmployeeId}}</td>
                                                    <td>{{list.EmpIqamaNumber}}</td>

                                                </tr>
                                                <tr ng-if="contractlist.length < 1">
                                                    <td colspan="6">{{'No Contract' | translate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary input-group-addon" id="basic-addon1" ng-click="getContractdetails()"> {{'Search' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row" ng-if="!ContractDetails">



    <div class="col-xl-12 col-md-12 " ng-if="customer.CustomerType && customer.CustomerType !=2">
        <div class="card table-card">
            <div class="card-header">
                <h5> {{'Contract List' | translate}}</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li class="drop_list">
                            <span>{{'Filter' |translate}} : </span>
                            <select class="editable-input" style="color:#000" " ng-model="filter.ContractStatus" ng-change="getFilterbyStatusInd()">
                                <option value="{{g.id}}" ng-repeat="g in StagesDrop" ng-show="g.id ==0||  g.id ==1 || g.id ==2"> {{ g.NameEn | translate}} </option>
                            </select>
                        </li>
                        <li><i class="feather icon-refresh-cw" ng-click="GetCustomerContractList()"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless">
                        <thead>
                            <tr>
                                <th>{{'Contract Number' | translate }}</th>
                                <th>{{'Contract Date' | translate }}</th>
                                <th>{{'Contract Status' | translate }}</th>
                                <th>{{'Nationality' | translate }}</th>
                                <th>{{'Total Days' | translate }}</th>
                                <th>{{'Used Days' | translate }}</th>
                                <th>{{'Remaining Days' | translate }}</th>
                                <th>{{'Expected End Date' | translate }}</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="list in CustomerContractList | filter :ContractListpaginate">
                                <td>
                                    <a href="#/contract/{{SerachCustomerID}}/{{list.ContractNumber}}">
                                        {{list.ContractNumber}}
                                    </a>
                                </td>
                                <td>{{(list.ContractDate | date:"dd/MM/yyyy") || ''}}</td>
                                <td>{{list.ContractStatusEn | translate}}</td>
                                <td>{{list.NationalityEn | translate}}</td>
                                <td>{{list.TotalDays}}</td>
                                <td>{{list.TotalUsedDays}}</td>
                                <td>{{list.TotalRemainingDays}}</td>
                                <td>{{(list.ExpectedEndDate | date:"dd/MM/yyyy") || ''}}</td>
                            </tr>
                            <tr ng-if="CustomerContractList.length < 1">
                                <td colspan="9">
                                    {{'No available list' | translate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ul class="pagination" ng-if="CustomerContractList && CustomerContractList.length > 0">
                        <li class="paging symbol"><a href="" ng-click="selectContractListpagination(1)" ng-class="{inactiveLink: ContractListcurrentPage < 2}" class="fa fa-step-backward themeprimary"></a></li>
                        <li class="paging symbol"><a href="" ng-click="selectContractListpagination(ContractListcurrentPage - 1)" ng-class="{inactiveLink: ContractListcurrentPage < 2}" class="fa fa-chevron-left themeprimary"></a></li>
                        <li class="paging pagetext">
                            <span>
                                <em> {{'Page' | translate}}</em><input type="number" ng-model="ContractListcurrentPage" min="1" max="{{ContractListtotallist}}" class="txtPage inactiveLink">
                                <em>{{'of' | translate}}</em> <span class="endpage themeprimary">{{ContractListtotallist}}</span>
                            </span>
                        </li>
                        <li class="paging symbol"><a href="" ng-click="selectContractListpagination(ContractListcurrentPage + 1)" ng-class="{inactiveLink: ContractListcurrentPage >= ContractListtotallist}" class="fa fa-chevron-right themeprimary"></a></li>
                        <li class="paging symbol"><a href="" ng-click="selectContractListpagination(ContractListtotallist)" ng-class="{inactiveLink: ContractListcurrentPage >=ContractListtotallist}" class="fa fa-step-forward themeprimary"></a></li>
                        <li class="paging pagetext">
                            <span>
                                <select class="txtPage" ng-model="pagination.ContractListcurrentPage" ng-change="changeContractListpagesize(pagination.ContractListcurrentPage)">
                                    <option value="{{g}}" ng-repeat="g in paginationPageSizes"> {{g}} </option>
                                </select>
                            </span>
                        </li>
                        <li class="paging-totalrecord themeprimary pull-right"><p class="themeprimary"><i>{{'Total Records' | translate}} : <strong>{{CustomerContractList.length}}</strong></i></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-md-12 " ng-if="customer.CustomerType && customer.CustomerType ==2">
        <div class="card table-card">
            <div class="card-header">
                <h5> {{'Contract List' | translate}}</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li class="drop_list">
                            <span>{{'Filter' |translate}} : </span>
                            <select class="editable-input" style="color:#000" " ng-model="filter.ContractStatus" ng-change="getFilterbyStatusBus()">
                                <option value="{{g.id}}" ng-repeat="g in StagesDrop" ng-show="g.id ==0||  g.id ==1 || g.id ==2"> {{ g.NameEn | translate}} </option>
                            </select>
                        </li>
                        <li><i class="feather icon-refresh-cw" ng-click="GetBCustomerContractList()"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless">
                        <thead>
                            <tr>
                                <th>{{'Contract Number' | translate }}</th>
                                <th>{{'Total ManPower' | translate }}</th>
                                <th>{{'Valid From' | translate }}</th>
                                <th>{{'Valid To' | translate }}</th>
                                <th>{{'Contract Status' | translate }}</th>
                                <th>{{'Contract Value' | translate }}</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="list in BCustomerContractList | filter :BContractListpaginate">
                                <td>
                                    <a href="#/contract/{{SerachCustomerID}}/{{list.ContractNumber}}">
                                        {{list.ContractNumber}}
                                    </a>
                                </td>
                                <td>{{list.TotalManPower}}</td>
                                <td>{{(list.ValidFrom | date:"dd/MM/yyyy") || ''}}</td>
                                <td>{{(list.ValidTo | date:"dd/MM/yyyy") || ''}}</td>
                                <td>{{list.ContractStatusEn | translate}}</td>
                                <td>{{list.ContractValue}}</td>
                            </tr>
                            <tr ng-if="BCustomerContractList.length < 1">
                                <td colspan="9">
                                    {{'No available list' | translate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ul class="pagination" ng-if="BCustomerContractList && BCustomerContractList.length > 0">
                        <li class="paging symbol"><a href="" ng-click="selectBContractListpagination(1)" ng-class="{inactiveLink: BContractListcurrentPage < 2}" class="fa fa-step-backward themeprimary"></a></li>
                        <li class="paging symbol"><a href="" ng-click="selectBContractListpagination(BContractListcurrentPage - 1)" ng-class="{inactiveLink: BContractListcurrentPage < 2}" class="fa fa-chevron-left themeprimary"></a></li>
                        <li class="paging pagetext">
                            <span>
                                <em> {{'Page' | translate}}</em><input type="number" ng-model="BContractListcurrentPage" min="1" max="{{BContractListtotallist}}" class="txtPage inactiveLink">
                                <em>{{'of' | translate}}</em> <span class="endpage themeprimary">{{BContractListtotallist}}</span>
                            </span>
                        </li>
                        <li class="paging symbol"><a href="" ng-click="selectBContractListpagination(BContractListcurrentPage + 1)" ng-class="{inactiveLink: BContractListcurrentPage >= BContractListtotallist}" class="fa fa-chevron-right themeprimary"></a></li>
                        <li class="paging symbol"><a href="" ng-click="selectBContractListpagination(BContractListtotallist)" ng-class="{inactiveLink: BContractListcurrentPage >=BContractListtotallist}" class="fa fa-step-forward themeprimary"></a></li>
                        <li class="paging pagetext">
                            <span>
                                <select class="txtPage" ng-model="pagination.BContractListcurrentPage" ng-change="changeBContractListpagesize(pagination.BContractListcurrentPage)">
                                    <option value="{{g}}" ng-repeat="g in paginationPageSizes"> {{g}} </option>
                                </select>
                            </span>
                        </li>
                        <li class="paging-totalrecord themeprimary pull-right"><p class="themeprimary"><i>{{'Total Records' | translate}} : <strong>{{BCustomerContractList.length}}</strong></i></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<div ng-if="ContractDetails">


    <h6 id="selected_contract" class="m-b-30 p-b-10 b-b-default f-w-600 width-100">
        {{'Selected Contract' | translate}} - {{ContractNumber}}
        <a class="f-right m-r-15 text-primary" href="#/contract/{{SerachCustomerID}}">
            <i class="fa fa-mail-reply"></i>
        </a>
    </h6>
    <div class="row">
        <div class="col-xl-8 col-md-12 display-flex">
            <div class="card social-network width-100">
                <div class="card-header">
                    <h5>{{'Contract' | translate}}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-5">
                                    <p class="text-muted m-b-5">{{'Contract Id' | translate}} :</p>
                                </div>
                                <div class="col-7">
                                    <p class="m-b-5 f-w-400">{{ContractDetails.ContractNumber}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <p class="text-muted m-b-5">{{'Contract Date' | translate}} :</p>
                                </div>
                                <div class="col-7">
                                    <p class="m-b-5 f-w-400">{{(ContractDetails.ContractDate | date:"dd/MM/yyyy") || ''}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <p class="text-muted m-b-5">{{'Contract Period' | translate}} :</p>
                                </div>
                                <div class="col-7">
                                    <p class="m-b-5 f-w-400" ng-if="ContractDetails.PackageType !=2">{{ContractDetails.ContractPeriod}}{{'months' | translate}}</p>
                                    <p class="m-b-5 f-w-400" ng-if="ContractDetails.PackageType==2">{{ContractDetails.LineTotalDays}}{{'Days' | translate}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <p class="text-muted m-b-5">{{'Used Days' | translate}} :</p>
                                </div>
                                <div class="col-7">
                                    <p class="m-b-5 f-w-400">{{ContractDetails.UsedDays}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <p class="text-muted m-b-5">{{'Remaining Days' | translate}} :</p>
                                </div>
                                <div class="col-7">
                                    <p class="m-b-5 f-w-400">{{ContractDetails.RemainingDays}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <p class="text-muted m-b-5">{{'Total Days' | translate}} :</p>
                                </div>
                                <div class="col-7">
                                    <p class="m-b-5 f-w-400">{{ContractDetails.TotalDays}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-5">
                                    <p class="text-muted m-b-5">{{'Valid From' | translate}} :</p>
                                </div>
                                <div class="col-7">
                                    <p class="m-b-5 f-w-400">{{(ContractDetails.ValidFrom | date:"dd/MM/yyyy") || ''}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <p class="text-muted m-b-5">{{'Expected End Date' | translate}} :</p>
                                </div>
                                <div class="col-7">
                                    <p class="m-b-5 f-w-400">{{(ContractDetails.ExpectedEndDate | date:"dd/MM/yyyy") || ''}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <p class="text-muted m-b-5">{{'Contract Status' | translate}} :</p>
                                </div>
                                <div class="col-7">
                                    <p class="m-b-5 f-w-400">{{ContractDetails.ContractStatusEn}}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-5">
                                    <p class="text-muted m-b-5">{{'Is Extended' | translate}} :</p>
                                </div>
                                <div class="col-7">
                                    <p class="m-b-5 f-w-400">{{ContractDetails.isExtended==true ?"Yes":"No" | translate }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <p class="text-muted m-b-5">{{'Extended Contract' | translate}} :</p>
                                </div>
                                <div class="col-7">
                                    <p class="m-b-5 f-w-400">{{ContractDetails.ExtendedContract}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <p class="text-muted m-b-5">{{'Promissory Amount' | translate}} :</p>
                                </div>
                                <div class="col-7">
                                    <p class="m-b-5 f-w-400">{{ContractDetails.PromissoryAmount}}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-5">
                                    <p class="text-muted m-b-5">{{'Prefered Location' | translate}} :</p>
                                </div>
                                <div class="col-7">
                                    <p class="m-b-5 f-w-400">{{ContractDetails.PreferedLocationEn}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-12 display-flex" style="display:none;">
            <div class="card social-network width-100">
                <div class="card-header">
                    <h5>{{'Customer' | translate}}</h5>
                </div>
                <div class="card-block">

                    <div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'Customer Id' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400">{{ContractDetails.CustomerID}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'Customer Name' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400">{{ContractDetails.Cus_Name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'ID Number' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400">{{ContractDetails.Cus_IDNumber}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'Nationality' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400">{{ContractDetails.Cus_NationalityEn}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'Mobile Number' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400">{{ContractDetails.Cus_NationalityEn}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'Email' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400">{{ContractDetails.Cus_Email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'IBAN Number' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400">{{ContractDetails.Cus_IBANNumber}}</p>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'Virtual Account' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400">{{ContractDetails.VirtualAccountId}}</p>
                        </div>
                    </div>-->


                </div>
            </div>
        </div>


    </div>

    <div class="row">

        <div class="col-xl-12 col-md-12 " ng-if="ContractDetails.ContractNumber">
            <div class="card table-card">
                <div class="card-header">
                    <h5> {{'Customer Request' | translate}}</h5>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            
                            <li><i class="feather icon-refresh-cw" ng-click="getContractCustomerRequest()"></i></li>
                            <li><i class="feather icon-maximize full-card"></i></li>
                            <li><i class="feather icon-minus minimize-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-hover table-borderless">
                            <thead>
                                <tr>
                                    <th>{{'Request Id' | translate}}</th>
                                    <th>{{'Request Mode' | translate}}</th>
                                    <th>{{'Transaction Reason' | translate}}</th>
                                    <th>{{'Transaction Type' | translate}}</th>
                                    <th>{{'Contract Id' | translate}}</th>
                                    <th>{{'Scheduled Date' | translate}}</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr ng-repeat="list in RequestDetailsList">
                                    <!--<th>{{list.RequestId}}</th>-->
                                    <th>{{list.RequestId}}</th>
                                    <th>{{list.RequestModeEn}}</th>
                                    <th>{{list.TransactionReasonCode}}</th>
                                    <th>{{list.CustomerTransactionTypeEn}}</th>
                                    <th>{{list.ContractId}}</th>
                                    <th>{{list.ScheduledDateTime | date:"dd/MM/yyyy"}}</th>

                                </tr>
                                <tr ng-if="RequestDetailsList.length < 1">
                                    <td colspan="6">{{'No Customer Request' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" style="display:none;">
        <div class="col-xl-5 col-md-12 display-flex">
            <div class="card user-card-full width-100">
                <div class="row m-l-0 m-r-0">
                    <div class="col-sm-4 bg-c-lite-green user-profile">
                        <div class="card-block text-center text-white">
                            <div class="m-b-25">
                                <img ng-if="user.ProfilePath && user.ProfilePath !=''" src="{{APiUrl}}/{{user.ProfilePath}}" class="img-radius img-card-profile" alt="Profile-Image">
                                <img ng-if="!user.ProfilePath || user.ProfilePath ==''" src="/CCPortal/files/assets/images/avatar.jpg" class="img-radius img-card-profile" alt="Profile-Image">
                            </div>
                            <h6 class="f-w-600">{{ContractDetails.EmployeeName}}</h6>

                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card-block">
                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Employee</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">{{'Employee Id' | translate}}</p>
                                    <h6 class="text-muted f-w-400">
                                        {{ContractDetails.EmployeeId}}
                                    </h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">{{'Iqama Number' | translate}}</p>
                                    <h6 class="text-muted f-w-400">{{ContractDetails.iqamaNumber}}</h6>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">{{'Border Number' | translate}}</p>
                                    <h6 class="text-muted f-w-400">{{ContractDetails.BorderNumber}}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">{{'Nationality' | translate}}</p>
                                    <h6 class="text-muted f-w-400">{{ContractDetails.Emp_NationalityEn}}</h6>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">{{'Profession' | translate}}</p>
                                    <h6 class="text-muted f-w-400">{{ContractDetails.Emp_Profession}}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">{{'Age' | translate}}</p>
                                    <h6 class="text-muted f-w-400">{{ContractDetails.Emp_Age}}</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-12 display-flex">
            <div class="card social-network width-100">
                <div class="card-header">
                    <h5>{{'Package Details' | translate}}</h5>
                </div>
                <div class="card-block">

                    <div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'Scheme Id' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400">{{ContractDetails.SchemeId}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'Scheme Name' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400">{{ContractDetails.SchemeName }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'Nationality' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400">{{ContractDetails.packageNation}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'Profession' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400">{{ContractDetails.JobSpecificationNameEn}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'Mobile Number' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400">{{ContractDetails.Cus_NationalityEn}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'Period' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400" ng-show="ContractDetails.PackageType!=2">{{ContractDetails.SchemePeriod}} {{'months' | translate}}</p>
                            <p class="m-b-5 f-w-400" ng-show="ContractDetails.PackageType==2">{{ContractDetails.LineTotalDays }} {{'days' | translate}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'Advance Amount' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400">{{ContractDetails.AdvanceAmount}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="text-muted m-b-5">{{'Total Amount' | translate}} :</p>
                        </div>
                        <div class="col-7">
                            <p class="m-b-5 f-w-400">{{ContractDetails.TotalAmount}}</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-12 display-flex">
            <div class="card social-network width-100">
                <div class="card-header">
                    <h5>{{'Financial Status' | translate}}</h5>
                </div>
                <div class="card-block">

                    <div class="row">
                        <div class="col-6">
                            <p class="text-muted m-b-5">{{'Total Payment' | translate}}</p>
                        </div>
                        <div class="col-6">
                            <p class="m-b-5 f-w-400">{{ContractActionDetails.PaymentAmount}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-muted m-b-5">{{'Advance Amount' | translate}} :</p>
                        </div>
                        <div class="col-6">
                            <p class="m-b-5 f-w-400">{{ContractActionDetails.AdvanceAmount}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-muted m-b-5">{{'Other Payment' | translate}} :</p>
                        </div>
                        <div class="col-6">
                            <p class="m-b-5 f-w-400">{{OtherPayment}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-muted m-b-5">{{'Invoice' | translate}} :</p>
                        </div>
                        <div class="col-6">
                            <p class="m-b-5 f-w-400">{{ContractActionDetails.InvoiceAmount}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-muted m-b-5">{{'Un Invoice' | translate}} :</p>
                        </div>
                        <div class="col-6">
                            <p class="m-b-5 f-w-400">{{UnInvoicedAmounts}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-muted m-b-5">{{'Balance' | translate}} :</p>
                        </div>
                        <div class="col-6">
                            <p class="m-b-5 f-w-400">{{TotalBalances}}</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-muted m-b-5">{{'Cost Per Day' | translate}} :</p>
                        </div>
                        <div class="col-6">
                            <p class="m-b-5 f-w-400">{{ContractCostperday}}</p>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

    <div class="row" style="display:none;">
        <div class="col-xl-12 col-md-12">
            <div class="card table-card">
                <div class="card-header">
                    <h5>Payment Details</h5>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="feather icon-refresh-cw" ng-click="getContractPaymentList()"></i></li>
                            <li><i class="feather icon-maximize full-card"></i></li>
                            <li><i class="feather icon-minus minimize-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-hover table-borderless">
                            <thead>
                                <tr>

                                    <th></th>
                                    <th>Payment Number</th>
                                    <th>Payment Date</th>
                                    <th>Method Of Payment</th>
                                    <th>Document Number</th>
                                    <th>Document Details</th>
                                    <th>Payment Amount</th>
                                    <th>Settle Amount</th>
                                    <th>Created By</th>

                                </tr>

                            </thead>
                            <tbody ng-repeat="list in ContractPaymentList">
                                <tr>
                                    <td>
                                        <button id="showsalary_{{list.PaymentNumber}}" class="btn btn-primary waves-effect waves-light btn-sm showsalary" ng-click="GetSalaryProcess(list)"><i class="fa fa-plus"></i></button>
                                        <button id="closesalary_{{list.PaymentNumber}}" class="btn btn-primary waves-effect waves-light btn-sm closesalary" ng-click="CloseGetSalaryProcess(list)" style="display:none;"><i class="fa fa-minus"></i></button>
                                    </td>
                                    <td>{{list.PaymentNumber}}</td>
                                    <td>{{(list.PaymentDate  | date:"dd/MM/yyyy") || ''}}</td>
                                    <td>{{list.MethodOfPayment}}</td>
                                    <td>{{list.DocumentNumber}}</td>
                                    <td>{{list.DocumentDetails}}</td>
                                    <td>{{list.PaymentAmount}}</td>
                                    <td>{{list.SettleAmountContract}}</td>
                                    <td>{{list.CreatedBy}}</td>
                                </tr>
                                <tr id="salary_{{list.PaymentNumber}}" ng-show="showsalaryTransaction" ng-if="showSalaryrecid==list.PaymentNumber">
                                    <td colspan="11">

                                        <table class="table table-striped table-bordered table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>Payment Number</th>
                                                    <th>Transaction Id</th>
                                                    <th>Settle Amount</th>
                                                    <th>Settlement Type</th>
                                                    <th>Return Type</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in SettledPaymentList ">

                                                    <td>{{item.PaymentNumber}}</td>
                                                    <td>{{item.TransactionId}}</td>
                                                    <td>{{item.SettlementAmount}}</td>
                                                    <td>{{item.SettlementType}}</td>
                                                    <td>{{item.ReturnTypeEn}}</td>
                                                    <td>{{item.SettlementCreatedBy}}</td>
                                                    <td>{{(item.SettlementCreatedDate  | date:"dd/MM/yyyy") || ''}}</td>

                                                </tr>
                                                <tr ng-if="SettledPaymentList.length < 1">
                                                    <td colspan="7">{{'No available list' | translate}}</td>
                                                </tr>
                                            </tbody>

                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="ContractPaymentList.length < 1">
                                <tr>
                                    <td colspan="9">{{'No available list' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="display:none;">
        <div class="col-xl-12 col-md-12">
            <div class="card table-card">
                <div class="card-header">
                    <h5>Advance Payment</h5>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="feather icon-refresh-cw" ng-click="getContractAdvancePaymentList()"></i></li>
                            <li><i class="feather icon-maximize full-card"></i></li>
                            <li><i class="feather icon-minus minimize-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-hover table-borderless">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Advance Number</th>
                                    <th>Contract Number</th>
                                    <th>Contract Line Number</th>
                                    <th>Request Id</th>
                                    <th>Advance Value</th>
                                    <th>Discount Amount</th>
                                    <th>Tax Amount</th>
                                    <th>Amount</th>
                                    <th>Paid Amount</th>
                                    <th>Status</th>
                                </tr>

                            </thead>
                            <tbody ng-repeat="item in ContractAdvancePaymentList">
                                <tr>
                                    <td>
                                        <button id="showAdvance_{{item.AdvanceNumber}}" class="btn btn-primary waves-effect waves-light btn-sm showAdvance" ng-click="GetAdvanceReturnProcess(item)"><i class="fa fa-plus"></i></button>
                                        <button id="closeAdvance_{{item.AdvanceNumber}}" class="btn btn-primary waves-effect waves-light btn-sm closeAdvance" ng-click="CloseGetAdvanceReturnProcess(item)" style="display:none;"><i class="fa fa-minus"></i></button>
                                    </td>
                                    <td>{{item.AdvanceNumber}}</td>
                                    <td>{{item.ContractNumber}}</td>
                                    <td>{{item.ContractLineNumber}}</td>
                                    <td>{{item.RequestId}}</td>
                                    <td>{{item.AdvanceValue}}</td>
                                    <td>{{item.DiscountAmount}}</td>
                                    <td>{{item.AfterDiscountTax>0? item.AfterDiscountTax:0}}</td>
                                    <td>{{item.Amount}}</td>
                                    <td>{{item.SettledAdvanceAmount}}</td>
                                    <td>{{item.statusEn}}</td>


                                </tr>
                                <tr id="showAdvance_{{item.AdvanceNumber}}" ng-show="showAdvanceReturn" ng-if="showAdvanceReturnrecid==item.AdvanceNumber">
                                    <td colspan="12">

                                        <div class="card card-box-shadow bg-white">
                                            <div class="card-header">
                                                <h5>{{'Payment Settlement' | translate}}</h5>
                                                <div class="card-header-right">
                                                    <ul class="list-unstyled card-option">
                                                        <li><i class="feather icon-maximize full-card"></i></li>
                                                        <li><i class="feather minimize-card icon-minus"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-block" style="">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-condensed">
                                                        <thead>
                                                            <tr>
                                                                <th>Contract Number</th>
                                                                <th>Payment Number  </th>
                                                                <th>Advance Number</th>
                                                                <th>Amount</th>

                                                                <th>Settlement Type</th>
                                                                <th>Return Type</th>
                                                                <th>Created By</th>
                                                                <th>Created Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr ng-repeat="item in SettledPaymentList1 ">
                                                                <td>{{item.ContractNumber}}</td>
                                                                <td>{{item.PaymentNumber}}</td>
                                                                <td>{{item.AdvanceNumber}}</td>
                                                                <td>{{item.SettlementAmount}}</td>

                                                                <td>{{item.SettlementType}}</td>
                                                                <td>{{item.ReturnTypeEn}}</td>

                                                                <td>{{item.SettlementCreatedBy}}</td>
                                                                <td>{{(item.SettlementCreatedDate  | date:"dd/MM/yyyy") || ''}}</td>

                                                            </tr>
                                                            <tr ng-if="SettledPaymentList1.length <1">
                                                                <td colspan="8">
                                                                    No data Available
                                                                </td>
                                                            </tr>

                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>

                                <tr id="showAdvance_{{item.AdvanceNumber}}" ng-show="showAdvanceReturn" ng-if="showAdvanceReturnrecid==item.AdvanceNumber">
                                    <td colspan="12">

                                        <div class="card card-box-shadow bg-white">
                                            <div class="card-header">
                                                <h5>{{'Invoice Settlement' | translate}}</h5>
                                                <div class="card-header-right">
                                                    <ul class="list-unstyled card-option">
                                                        <li><i class="feather icon-maximize full-card"></i></li>
                                                        <li><i class="feather minimize-card icon-minus"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-block" style="">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-condensed">
                                                        <thead>
                                                            <tr>
                                                                <th>Advance Number</th>
                                                                <th>Invoice Number  </th>
                                                                <th>Amount</th>
                                                                <th>Discount Amount</th>
                                                                <th>Created By</th>
                                                                <th>Created Date</th>
                                                            </tr>

                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in AdvanceInvoiceSettleList">
                                                                <td>{{item.AdvanceNumber}}</td>
                                                                <td>{{item.InvoiceNumber}}</td>
                                                                <td>{{item.Amount}}</td>
                                                                <td>{{item.DiscountPercentage}}</td>
                                                                <td>{{item.CreatedBy}}</td>
                                                                <td>{{(item.SettleDate  | date:"dd/MM/yyyy") || ''}}</td>
                                                            </tr>
                                                            <tr ng-if="AdvanceInvoiceSettleList.length <1">
                                                                <td colspan="6">
                                                                    No data Available
                                                                </td>
                                                            </tr>
                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>

                            </tbody>
                            <tbody ng-if="ContractAdvancePaymentList.length < 1">
                                <tr>
                                    <td colspan="10">{{'No list available' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="display:none;">
        <div class="col-xl-12 col-md-12">
            <div class="card table-card">
                <div class="card-header">
                    <h5>Customer Invoice</h5>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="feather icon-refresh-cw" ng-click="GetCustomerInvoiceByCustomerNumber()"></i></li>
                            <li><i class="feather icon-maximize full-card"></i></li>
                            <li><i class="feather icon-minus minimize-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-hover table-borderless">
                            <thead>
                                <tr>
                                    <th>{{'Contract Number' | translate }}</th>
                                    <th>{{'Invoice Number' | translate }}</th>
                                    <th>{{'Invoice Date' | translate }}</th>
                                    <th>{{'Invoice Period' | translate }}</th>
                                    <th>{{'Invoice Type' | translate }}</th>
                                    <th>{{'Invoice Days'| translate}}</th>
                                    <th>{{'Invioce Before Discount'| translate}}</th>
                                    <th>{{'Discount Amount'| translate}}</th>
                                    <th>{{'Invoice after discount'| translate}}</th>
                                    <th>{{'Tax Amount'| translate}}</th>
                                    <th>{{'Net invoice after discount with tax' | translate }}</th>
                                    <th>{{'Paid Amount' | translate }}</th>
                                    <th>{{'Not Paid Amount' | translate }}</th>
                                    <th>{{'Total Invoice Amount'| translate}}</th>
                                    <th>{{'IsAdvance'  | translate }}</th>
                                    <th>{{'Payment Status'  | translate }}</th>

                                </tr>

                            </thead>
                            <tbody>
                                <tr ng-repeat="item in CustInvoice">

                                    <td>{{item.ContractID}}</td>
                                    <td>{{item.InvoiceNumber}}</td>
                                    <td>{{(item.InvoiceDate  | date:"dd/MM/yyyy") || ''}}</td>
                                    <td>{{item.InvoicePeriod}}</td>
                                    <td>{{item.InvoiceTypeEn}}</td>
                                    <td>{{item.InvoiceTotalDays}}</td>
                                    <td>{{item.TotalBeforeDiscount}}</td>
                                    <td>{{item.DiscountAmount}}</td>
                                    <td>{{item.NetAfterDiscount}}</td>
                                    <td>{{item.TaxAmount}}</td>
                                    <td>{{item.InvoiceAmount}}</td>
                                    <td>{{item.SettledInvoiceAmount}}</td>
                                    <td>{{(item.InvoiceAmount - item.SettledInvoiceAmount).toFixed(2)}}</td>
                                    <td>{{item.TotalAmount}}</td>
                                    <td>{{item.IsAdvance}}</td>
                                    <td>{{item.PaymentStatusEn}}</td>

                                </tr>
                                <tr ng-if="CustInvoice.length < 1">
                                    <td colspan="15">
                                        {{'No available list' | translate}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>



