﻿<style>
    .hide {
        display: none !important;
    }
</style>

<div id="createcustomerenqpopup" class="modal my_model ticketpop cust_service_pop">
    <div class="modal-dialog" style="max-width: 600px">
        <div class="modal-content">
            <form editable-form name="editableForm1" onaftersave="saveCustEnquiryList($data, customerservice.RecId)">
                <div class="modal-header">
                    <button type="button" id="btnclose" class="close dclose" data-dismiss="modal"
                            ng-click="hidecustomerenq()" aria-label="close">
                        ×
                    </button>
                    <h4 class="modal-title">{{'Customer Service Enquiry' | translate }}</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="" id="createpopup">

                        <div class="table-card">
                            <div class="f-w-600 f-16">
                                <label for="Comments-2" class="block">CustomerId</label> - {{SerachCustomerID}}
                            </div>
                            <div class="card-block input_block">

                                <fieldset id="verticle-wizard-p-0" role="tabpanel" class="">

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Nationality-2" class="block">Inquiry <span class="red mandatory">*</span></label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" ng-model="customerservice.CategoryType" ng-change="ChangeCategorytype(customerservice.CategoryType)" ng-options="g.Id as g.Description for g in CategoryTypeDrop"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Nationality-2" class="block">Category <span class="red mandatory">*</span></label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" ng-model="customerservice.Category" ng-change="ChangeCategory(customerservice.Category)" ng-options="g.Id as g.Description for g in Category"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Nationality-2" class="block">SubCategory <span class="red mandatory">*</span></label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" ng-model="customerservice.SubCategory" ng-options="g.Id as g.Description for g in SubCategory"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Nationality-2" class="block">Branch <span class="red mandatory">*</span></label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" ng-model="customerservice.Branch" ng-options="g.BranchID as g.Name_En for g in CompanyBranchList"></select>
                                        </div>
                                    </div>


                                    <!--<div class="form-group fullwidth">
        <div class="col-sm-12">
            <label for="Comments-2"
                   class="block">{{'Description' |translate}}</label>
        </div>
        <div class="col-sm-12">
            <input type="text" ng-model="customerservice.Description" class="editable-input"
                   placeholder="Description" style=" height: 27px;"></input>
        </div>
    </div>-->

                                    <div class="form-group fullwidth">
                                        <div class="col-sm-12">
                                            <label for="Comments-2" class="block">{{'Comments' |translate}}</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <textarea class="editable-input" rows="4" ng-model="customerservice.Comments"
                                                      placeholder="Comments"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="clearfix" style="display:none !important;">
                    <div>
                        <!-- button to show form -->
                        <button type="button" class="btn btn-default" id="btnRegistrationEdit1" ng-click="editableForm1.$show()" ng-show="!editableForm1.$visible">
                            Edit
                        </button>
                        <!-- buttons to submit / cancel form -->
                        <span ng-show="editableForm1.$visible">

                            <button type="button" id="btnRegistrationCancel1" class="btn btn-default" ng-disabled="editableForm1.$waiting" ng-click="editableForm1.$cancel()">
                                Cancel
                            </button>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <span>
                            <button type="submit" class="my_btn btn-primary" id="btnRegistrationSave1" ng-disabled="editableForm1.$waiting">
                                {{'Save' | translate }}
                            </button>
                        </span>
                    </div>
                </div>
                <!--<div class="modal-footer">
                    <div class="card-block-footer clearfix">
                        <button type="button" ng-click="saveCustEnquiryList($data, customerservice.RecId)" class="btn btn-primary">Save</button>
                    </div>
                </div>-->
            </form>

            <!--<div class="card-block" style="padding:10px;">
                <div class=""  style="border:2px solid #ccc">
                    <div class="table-responsive">
                        <table class="table table-hover table-borderless table-text-ellipsis">
                            <thead>
                                <tr>
                                    <th>{{'Created by' | translate }}</th>
                                    <th>{{'Created Date' | translate }}</th>
                                    <th>{{'Inquiry' | translate }}</th>
                                    <th>{{'Category' | translate }}</th>
                                    <th>{{'SubCategory' | translate }}</th>
                                    <th>{{'Comments' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in  CustomerServiceInquiryList | orderBy: '-RecId' | limitTo: 5">
                                    <td>{{list.UserId}}</td>
                                    <td>{{(list.CreatedDatetime | date:"dd/MM/yyyy") || ''}}</td>
                                    <td>{{list.CategoryTypeEn}}</td>
                                    <td>{{list.CategoryEn}}</td>
                                    <td>{{list.SubCategoryEn}}</td>
                                    <td style="max-width:200px;">{{list.Comments}}</td>
                                </tr>
                                <tr ng-if="CustomerServiceInquiryList.length < 1">
                                    <td colspan="7">
                                        {{'No available list' | translate}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>-->
        </div>
    </div>

</div>

<div class="row">

    <div class="col-xl-12 col-md-12 display_flex">
        <div class="card user-card-full full_width">
            <div class="row m-l-0 m-r-0">
                <div class="col-sm-3 bg-c-lite-green user-profile">
                    <div class="card-block text-center text-white">
                        <div class="m-b-25">
                        <img ng-if="user.ProfilePath && user.ProfilePath !=''" src="{{APiUrl}}/{{user.ProfilePath}}" class="img-radius img-card-profile" alt="Profile-Image">
                        <img ng-if="!user.ProfilePath || user.ProfilePath ==''" src="/CCPortal/files/assets/images/avatar.jpg" class="img-radius img-card-profile" alt="Profile-Image">
                    </div>
                        <h6 class="f-w-600">{{user.FirstName}} {{user.MiddleName}} {{user.LastName}} {{user.FamilyName}}</h6>
                        <p>{{user.CustomerID}} </p>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="card-block">
                        <h6 class="m-b-10 p-b-5 b-b-default f-w-600 themeprimary">Personal</h6>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Customer ID</p>
                                <h6 class="text-muted f-w-400">{{user.CustomerID}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">National/Iqama Id</p>
                                <h6 class="text-muted f-w-400">{{user.IDNumber}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Gender</p>
                                <h6 class="text-muted f-w-400">{{user.Gender==1?"Male":"Female"}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Nationality</p>
                                <h6 class="text-muted f-w-400">{{user.NationalityEn}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Country Region</p>
                                <h6 class="text-muted f-w-400">{{user.CountryRegionEn}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">City </p>
                                <h6 class="text-muted f-w-400">{{user.CityEn}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Age</p>
                                <h6 class="text-muted f-w-400">{{userAge}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Social media </p>
                                <h6 class="text-muted f-w-400">{{user.SocialMediaEn}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Mobile Number</p>
                                <h6 class="text-muted f-w-400">{{user.MobileNumber}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Email</p>
                                <h6 class="text-muted f-w-400">{{user.Email}}</h6>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xl-12 col-md-12">
        <div class="card table-card">
            <div class="card-header">
                <h5>Customer Service Enquiry</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="feather icon-refresh-cw" ng-click="RefreshGetCustomerServiceEnquiry()"></i></li>
                        <li><i class="fa fa-pencil-square-o" ng-click="CreatecustEnq()"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless table-text-ellipsis">
                        <thead>
                            <tr>
                                <th>{{'Created by' | translate }}</th>
                                <th>{{'Created Date' | translate }}</th>
                                <th>{{'Inquiry' | translate }}</th>
                                <th>{{'Category' | translate }}</th>
                                <th>{{'SubCategory' | translate }}</th>
                                <th>{{'Branch' | translate }}</th>
                                <th>{{'Comments' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in CustomerServiceInquiryList | filter : CustomerServicepaginate">
                                <td>{{list.UserId}}</td>
                                <td>{{(list.CreatedDatetime | date:"dd/MM/yyyy") || ''}}</td>
                                <td>{{list.CategoryTypeEn}}</td>
                                <td>{{list.CategoryEn}}</td>
                                <td>{{list.SubCategoryEn}}</td>
                                <td>{{list.BranchEn}}</td>
                                <td style="max-width:200px;" title="{{list.Comments}}">{{list.Comments}}</td>
                            </tr>
                            <tr ng-if="CustomerServiceInquiryList.length < 1">
                                <td colspan="7">
                                    {{'No available list' | translate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ul class="pagination" ng-if="CustomerServiceInquiryList && CustomerServiceInquiryList.length > 0">
                        <li class="paging symbol"><a href="" ng-click="selectCustomerServicepagination(1)" ng-class="{inactiveLink: CustomerServicecurrentPage < 2}" class="fa fa-step-backward themeprimary"></a></li>
                        <li class="paging symbol"><a href="" ng-click="selectCustomerServicepagination(CustomerServicecurrentPage - 1)" ng-class="{inactiveLink: CustomerServicecurrentPage < 2}" class="fa fa-chevron-left themeprimary"></a></li>
                        <li class="paging pagetext">
                            <span>
                                <em> {{'Page' | translate}}</em><input type="number" ng-model="CustomerServicecurrentPage" min="1" max="{{CustomerServicetotallist}}" class="txtPage inactiveLink">
                                <em>{{'of' | translate}}</em> <span class="endpage themeprimary">{{CustomerServicetotallist}}</span>
                            </span>
                        </li>
                        <li class="paging symbol"><a href="" ng-click="selectCustomerServicepagination(CustomerServicecurrentPage + 1)" ng-class="{inactiveLink: CustomerServicecurrentPage >= CustomerServicetotallist}" class="fa fa-chevron-right themeprimary"></a></li>
                        <li class="paging symbol"><a href="" ng-click="selectCustomerServicepagination(CustomerServicetotallist)" ng-class="{inactiveLink: CustomerServicecurrentPage >=CustomerServicetotallist}" class="fa fa-step-forward themeprimary"></a></li>
                        <li class="paging pagetext">
                            <span>
                                <select class="txtPage" ng-model="pagination.CustomerServicenumPerPage" ng-change="changeCustomerServicepagesize(pagination.CustomerServicenumPerPage)">
                                    <option value="{{g}}" ng-repeat="g in paginationPageSizes"> {{g}} </option>
                                </select>
                            </span>
                        </li>
                        <li class="paging-totalrecord themeprimary pull-right"><p class="themeprimary"><i>{{'Total Records' | translate}} : <strong>{{CustomerServiceInquiryList.length}}</strong></i></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



</div>