﻿

<div class="card social-network width-100" ng-hide="externalfn.hideTemplateUpdate">
    <div class="card-header mobile_upload">
        <h5>{{'MobileNumber' | translate}}</h5>
        <span class="my_btn btn-primary pull-right" ng-click="showhistorypopup()">Update mobile</span>
        <!-- <i class="fa fa-pmy_btnencil-square-o pull-right" ng-click="showhistorypopup()"></i> -->
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-6">
                <p class="text-muted m-b-5">{{'Active Mobile' | translate}} :</p>
            </div>
            <div class="col-6">
                <p class="m-b-5 f-w-400" id="uesrHijriDOB">{{CustomerContactDetails.MobileNumber}}</p>
            </div>
        </div>
    </div>
</div>
<div id="temphistorypopup" class="modal my_model">
    <div class="modal-dialog" style="max-width:650px;">
        <div class="modal-content">
            <div class="modal-header" style="display: block;">
                <button type="button" id="btnclose" class="close" ng-click="closehistorypopup()">×</button>
                <h4 class="modal-title"><span>{{title}}</span></h4>

            </div>
            <div class="modal-body">


                <div class="widget"> 
                    <div class="widget-header">
                        <!-- <span class="widget-caption">Update Mobile Number</span> -->
                        <!--<span class="widget-caption" style="float:right;"> <small><label style="float:right;"><b>Available Balance:{{availableamount}}</b></label></small></span>-->

                        <!-- <div class="widget-buttons">
                            <a class="themeprimary gridicon" href="/Sales/IndividualContract/PrintPaymentRecieptbyCustomerRequest?RequestId={{payselectRequestId}}" id="ChsPaymnetReciept" style="display:none">
                                <i class="fa fa-print"></i>
                            </a>
                            <a href="" widget-maximize="" name="maximize" class="themeprimary gridicon">
                                <i id="maximize" class="fa fa-expand"></i>
                            </a>
                            <a href="" widget-collapse="" name="collapseminus" class="themeprimary gridicon">
                                <i id="collapse" class="fa fa-minus"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="widget-body clearfix" style="margin: 10px 0px;">
                        <div class="profile-repeat-list" style="background:#fff;width: 100%;">
                            <div class="profile-widjet-view location-widjet-view">
                                <p class="pull-left">
                                    <span>{{'Update Mobile Number' | translate }}</span>
                                    <span>
                                        <input type="text" ng-model="CreateMob.MobileNumber" />
                                    </span>
                                </p>

                            </div>
                        </div>
                        <span class="my_btn btn-primary pull-right" ng-click="AddOrUpdateMobileNumber()">{{'Create' | translate }}</span>
                    </div>

                    <div class="widget-footer">

                        <!--<button class="btn btn-primary" ng-click="AddOrUpdateMobileNumber()">
                            {{'Create' | translate }}
                        </button>-->
                    </div>
                </div>


                <div class="widget">
                    <div class="widget-header">
                        <span class="widget-caption"> {{'Customer Mobile History' | translate }}</span>
                        <div class="widget-buttons">




                        </div>
                    </div>
                    <div class="widget-body">
                        <!--<input class="btn btn-primary" type="button" value="Create Line" ng-click="crtline()" />-->
                        <table class="table">
                            <thead>
                                <tr>

                                    <th>
                                        {{'Mobile Number' | translate }}
                                    </th>
                                    <th>
                                        {{'Created Date' | translate }}
                                    </th>

                                    <th>
                                        {{'Status' | translate }}
                                    </th>
                                    <th>
                                        {{'Is Active' | translate }}
                                    </th>
                                    <th>
                                        {{'Action' | translate }}
                                    </th>



                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="crtline in CustomerContactHistory">


                                    <td>{{crtline.MobileNumber}}</td>
                                    <td>{{crtline.CreatedDatetime | date:"dd/MM/yyyy"}}</td>
                                    <td> {{crtline.Status}} </td>
                                    <td> {{crtline.IsActive}} </td>

                                    <td>


                                        <a class="my_btn btn-primary" style="color: #fff;" ng-show="crtline.Status=='Pending' && crtline.IsActive!='Yes'" ng-click="showverifypopup(crtline)">
                                            Verify
                                        </a>

                                        <a class="my_btn btn-primary" style="color: #fff;" ng-show="crtline.Status=='Verified'&& crtline.IsActive!='Yes'" ng-click="resendverifycode(crtline)">
                                            {{crtline.Status=="Verified"?"Activate":"Re-Send"}}

                                        </a>




                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>






            </div>
        </div>
    </div>
</div>

<div id="tempverifypopup" class="modal my_model">
    <!--ng-if="CreatePaymentLinePop1"-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="ExTemplineclose" class="close" ng-click="closeverifypopup(crtline)">×</button>
                <h4 class="modal-title">{{'Verify Code' | translate }}</h4>
            </div>

            <input type="hidden" id="CreateClick" ng-click="CreateClick()" />
            <input type="hidden" id="DeleteBtn" ng-click="DeleteBtn()" />

            <div class="modal-body" style="max-height:Calc(100vh - 88px);overflow:auto;">
                <!--onaftersave="savePaymentLine($data, ExTempPaymentLine.CustomerID)"-->
                <div class="tablediv table">
                    <div class="tablerow">
                        <label class="tablecell">
                            {{'Mobile Number' | translate }}

                        </label>

                        <div class="tablecell">

                            {{CurrentSelectedHistory.MobileNumber?CurrentSelectedHistory.MobileNumber:CurrentSelectedHistory.Contact}}
                        </div>
                    </div>


                    <div class="tablerow">
                        <label class="tablecell">{{'Verify Code' | translate }}</label>
                        <div class="tablecell">
                            <input type="text" ng-model="VerifyMob.VerifyCode" />
                        </div>

                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <div>
                    <span>
                        <span class="btn btn-primary pull-right" ng-click="CheckVerifyCode()">{{'Verify' | translate }}</span>
                        <!--<button class="btn btn-primary" ng-click="CheckVerifyCode()">
                            {{'Verify' | translate }}
                        </button>-->
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>





