﻿
<div class="card social-network width-100"  ng-hide="externalfn.hideTemplateUpdate">
    <div class="card-header mobile_upload">
        <h5>{{'Email' | translate}}</h5>
        <span class="my_btn btn-primary pull-right" ng-click="EmUD_showemailhistorypopup()">Update Email</span>
        <!-- <i class="fa fa-pencil-square-o pull-right" ng-click="EmUD_showemailhistorypopup()"></i> -->
    </div>
    <div class="card-block">
        <div class="row"> 
            <div class="col-6">
                <p class="text-muted m-b-5">{{'Active Email' | translate}} :</p>
            </div>
            <div class="col-6">
                <p class="m-b-5 f-w-400" id="uesrHijriDOB">{{EmUD_CustomerContactDetails.Email}}</p>
            </div>
        </div>
    </div>
</div>

<div id="tempshowemailupdatehistorypopup" class="modal my_model">
    <div class="modal-dialog" style="max-width: 650px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnclose" class="close" ng-click="EmUD_closeemailhistorypopup()">×</button>
                <h4 class="modal-title"><span>Update Email Id</span></h4>

            </div>
            <div class="modal-body">


                <div class="widget">
                    <div class="widget-header">
                        <!-- <span class="widget-caption">Update Email Id</span> -->

                        <!-- <div class="widget-buttons">
                            <a href="" widget-maximize="" name="maximize" class="themeprimary gridicon">
                                <i id="maximize" class="fa fa-expand"></i>
                            </a>
                            <a href="" widget-collapse="" name="collapseminus" class="themeprimary gridicon">
                                <i id="collapse" class="fa fa-minus"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="widget-body clearfix" style="margin: 10px 0px;">
                        <div class="profile-repeat-list" style="background:#fff;width: 100%;">
                            <div class="profile-widjet-view location-widjet-view">
                                <p class="pull-left">
                                    <span>{{'Update Email Id' | translate }}</span>
                                    <span>
                                        <input type="text" ng-model="EmUD_CreateEmail.Email" />
                                    </span>
                                </p>

                            </div>
                        </div>
                        <span class="my_btn btn-primary pull-right" ng-click="EmUD_AddOrUpdateEmail()">{{'Create' | translate }}</span>
                    </div>

                    <div class="widget-footer">
                    </div>
                </div>


                <div class="widget">
                    <div class="widget-header">
                        <span class="widget-caption"> {{'Customer Email History' | translate }}</span>
                        <div class="widget-buttons">




                        </div>
                    </div>
                    <div class="widget-body">
                        <!--<input class="btn btn-primary" type="button" value="Create Line" ng-click="crtline()" />-->
                        <table class="table">
                            <thead>
                                <tr>

                                    <th>
                                        {{'Email' | translate }}
                                    </th>
                                    <th>
                                        {{'Created Date' | translate }}
                                    </th>

                                    <th>
                                        {{'Status' | translate }}
                                    </th>
                                    <th>
                                        {{'Is Active' | translate }}
                                    </th>
                                    <th>
                                        {{'Action' | translate }}
                                    </th>



                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="crtline in EmUD_CustomerContactHistory">


                                    <td>{{crtline.Email}}</td>
                                    <td>{{crtline.CreatedDatetime | date:"dd/MM/yyyy"}}</td>
                                    <td> {{crtline.Status}} </td>
                                    <td> {{crtline.IsActive}} </td>

                                    <td>


                                        <a class="my_btn btn-primary" style="color: #fff;" ng-show="crtline.Status=='Pending' && crtline.IsActive!='Yes'" ng-click="EmUD_showemailverifypopup(crtline)">
                                            Verify
                                        </a>

                                        <a class="my_btn btn-primary" style="color: #fff;" ng-show="crtline.Status=='Pending' && crtline.IsActive!='Yes'" ng-click="EmUD_resendverifycode(crtline)">
                                            Re-Send
                                        </a>




                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>






            </div>
        </div>
    </div>
</div>

<div id="emailupdateverifypopup" class="modal my_model">
    <!--ng-if="CreatePaymentLinePop1"-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="ExTemplineclose" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{'Verify Code' | translate }}</h4>
            </div>

            <input type="hidden" id="CreateClick" ng-click="CreateClick()" />
            <input type="hidden" id="DeleteBtn" ng-click="DeleteBtn()" />

            <div class="modal-body" style="max-height:Calc(100vh - 88px);overflow:auto;">
                <!--onaftersave="savePaymentLine($data, ExTempPaymentLine.CustomerID)"-->
                <div class="tablediv table">
                    <div class="tablerow">
                        <label class="tablecell">
                            {{'Email' | translate }}

                        </label>

                        <div class="tablecell">

                            {{EmUD_CurrentSelectedHistory.Email?EmUD_CurrentSelectedHistory.Email:EmUD_CurrentSelectedHistory.Contact}}
                        </div>
                    </div>


                    <div class="tablerow">
                        <label class="tablecell">{{'Verify Code' | translate }}</label>
                        <div class="tablecell">
                            <input type="text" ng-model="EmUD_VerifyEmail.VerifyCode" />
                        </div>

                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <div>
                    <span>
                        <span class="btn btn-primary pull-right" ng-click="EmUD_CheckVerifyCode()">{{'Verify' | translate }}</span>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>





