﻿       <!--hyder-->
<style>
    .hide, .canvasjs-chart-credit {
        display: none !important;
    }
</style>

<div class="row">
    <div class="col-xl-6 col-md-12">
        <div class="card user-card-full full_width">
            <div class="row m-l-0 m-r-0">
                <div class="col-sm-4 bg-c-lite-green user-profile">
                    <div class="card-block text-center text-white">
                        <div class="m-b-25">
                            <img ng-if="user.ProfilePath && user.ProfilePath !=''" src="{{APiUrl}}/{{user.ProfilePath}}" class="img-radius img-card-profile" alt="Profile-Image">
                            <img ng-if="!user.ProfilePath || user.ProfilePath ==''" src="/CCPortal/files/assets/images/avatar.jpg" class="img-radius img-card-profile" alt="Profile-Image">

                        </div>
                        <h6 class="f-w-600">{{user.FirstName}} {{user.MiddleName}} {{user.LastName}} {{user.FamilyName}}</h6>
                        <p>{{user.CustomerID}} </p>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card-block">
                        <h6 class="m-b-10 p-b-5 b-b-default f-w-600 themeprimary">Personal</h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Customer ID</p>
                                <h6 class="text-muted f-w-400">{{user.CustomerID}}</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">National/Iqama Id</p>
                                <h6 class="text-muted f-w-400">{{user.IDNumber}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Nationality</p>
                                <h6 class="text-muted f-w-400">{{user.NationalityEn}}</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Gender</p>
                                <h6 class="text-muted f-w-400">{{user.Gender==1?"Male":"Female"}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Country Region</p>
                                <h6 class="text-muted f-w-400">{{user.CountryRegionEn}}</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">City </p>
                                <h6 class="text-muted f-w-400">{{user.CityEn}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Age</p>
                                <h6 class="text-muted f-w-400">{{userAge}}</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Social media </p>
                                <h6 class="text-muted f-w-400">{{user.SocialMediaEn}}</h6>
                            </div>
                        </div>

                        <!--<h6 class="m-b-20 m-t-20 p-b-5 b-b-default f-w-600 themeprimary">Contact Information</h6>-->
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Mobile Number</p>
                                <h6 class="text-muted f-w-400">{{user.MobileNumber}}</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Email</p>
                                <h6 class="text-muted f-w-400">{{user.Email}}</h6>
                            </div>

                        </div>
                        <ul class="list-unstyled text-right m-t-5 m-b-0 m-r-10">
                            <li><a class="f-w-500" href="#/customer/{{SerachCustomerID}}">More <i class="fa fa-forward "></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="col-xl-6 col-md-6">
        <div class="card table-card">
            <div class="card-header">
                <h5>Transaction Satisfaction</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="feather icon-refresh-cw" ng-click="GetTransactionSatisfactionChartList()"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div id="TransactionSatisfactionChart"
                     style="width:100%;height:250px;"></div>
            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-xl-6 col-md-12 display_flex">
        <div class="card table-card full_width">
            <div class="card-header">
                <h5>Customer Service Enquiry</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="feather icon-refresh-cw" ng-click="RefreshGetCustomerServiceEnquiry()"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless table-text-ellipsis">
                        <thead>
                            <tr>
                                <th>{{'Created by' | translate }}</th>
                                <th>{{'Created Date' | translate }}</th>
                                <th>{{'Inquiry' | translate }}</th>
                                <th>{{'Category' | translate }}</th>
                                <th>{{'SubCategory' | translate }}</th>
                                <th>{{'Comments' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in CustomerServiceInquiryList| limitTo: -5">
                                <td>{{list.UserId}}</td>
                                <td>{{(list.CreatedDatetime | date:"dd/MM/yyyy") || ''}}</td>
                                <td>{{list.CategoryTypeEn}}</td>
                                <td>{{list.CategoryEn}}</td>
                                <td>{{list.SubCategoryEn}}</td>
                                <td style="max-width:200px;" title="{{list.Comments}}">{{list.Comments}}</td>
                            </tr>
                            <tr ng-if="CustomerServiceInquiryList.length < 1">
                                <td colspan="7">
                                    {{'No available list' | translate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <ul class="list-unstyled m-t-10 p-l-15 p-r-15">
                    <li class="f-left"> <span>Total Records</span>:   {{CustomerServiceInquiryList.length}}</li>
                    <li class="text-right"><a class="f-w-500" href="#/custservice/{{SerachCustomerID}}">More <i class="fa fa-forward "></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6">
        <div class="card table-card">
            <div class="card-header">
                <h5>Account  Satisfaction</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="feather icon-refresh-cw" ng-click="GetAccountSatisfactionChartList()"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div id="AccountSatisfactionChart"
                     style="width:100%;height:250px;"></div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-xl-6 col-md-12 " ng-if="user.CustomerType && user.CustomerType !=2">
        <div class="card table-card">
            <div class="card-header">
                <h5> {{'Contract List' | translate}}</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="feather icon-refresh-cw" ng-click="GetCustomerContractList()"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{'Contract Number' | translate }}</th>
                                <th>{{'Contract Date' | translate }}</th>
                                <th>{{'Nationality' | translate }}</th>
                                <th>{{'Contract Status' | translate }}</th>
                                <th>{{'Total Days' | translate }}</th>
                                <th>{{'Used Days' | translate }}</th>
                                <th>{{'Remaining Days' | translate }}</th>
                                <th>{{'Expected End Date' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in CustomerContractList | limitTo: -5">
                                <td>
                                    <a href="#/contract/{{SerachCustomerID}}/{{list.ContractNumber}}">
                                        <i class="fa fa-address-card-o"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#/contract/{{SerachCustomerID}}/{{list.ContractNumber}}">
                                        {{list.ContractNumber}}
                                    </a>
                                </td>
                                <td>{{(list.ContractDate | date:"dd/MM/yyyy") || ''}}</td>
                                <td>{{list.NationalityEn | translate}}</td>
                                <td>{{list.ContractStatusEn | translate}}</td>
                                <td>{{list.TotalDays}}</td>
                                <td>{{list.TotalUsedDays}}</td>
                                <td>{{list.TotalRemainingDays}}</td>
                                <td>{{(list.ExpectedEndDate | date:"dd/MM/yyyy") || ''}}</td>
                            </tr>
                            <tr ng-if="CustomerContractList.length < 1">
                                <td colspan="9">
                                    {{'No available list' | translate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <ul class="list-unstyled m-t-10 p-l-15 p-r-15">
                    <li class="f-left"> <span>Total Records</span>:   {{CustomerContractList.length}}</li>
                    <li class="text-right"><a class="f-w-500" href="#/contract/{{SerachCustomerID}}">More <i class="fa fa-forward "></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-12 " ng-if="user.CustomerType && user.CustomerType ==2">
        <div class="card table-card">
            <div class="card-header">
                <h5> {{'Contract List' | translate}}</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="feather icon-refresh-cw" ng-click="GetBCustomerContractList()"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless">
                        <thead>
                            <tr>
                                <th>{{'Contract Number' | translate }}</th>
                                <th>{{'Total ManPower' | translate }}</th>
                                <th>{{'Valid From' | translate }}</th>
                                <th>{{'Valid To' | translate }}</th>
                                <th>{{'Contract Status' | translate }}</th>
                                <th>{{'Contract Value' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in BCustomerContractList | limitTo: -5">
                                <td>
                                    <a href="#/contract/{{SerachCustomerID}}/{{list.ContractNumber}}">
                                        {{list.ContractNumber}}
                                    </a>
                                </td>
                                <td>{{list.TotalManPower}}</td>
                                <td>{{(list.ValidFrom | date:"dd/MM/yyyy") || ''}}</td>
                                <td>{{(list.ValidTo | date:"dd/MM/yyyy") || ''}}</td>
                                <td>{{list.ContractStatusEn | translate}}</td>
                                <td>{{list.ContractValue}}</td>
                            </tr>
                            <tr ng-if="BCustomerContractList.length < 1">
                                <td colspan="9">
                                    {{'No available list' | translate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <ul class="list-unstyled m-t-10 p-l-15 p-r-15">
                    <li class="f-left"> <span>Total Records</span>:   {{BCustomerContractList.length}}</li>
                    <li class="text-right"><a class="f-w-500" href="#/contract/{{SerachCustomerID}}">More <i class="fa fa-forward "></i></a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="col-xl-6 col-md-12">
        <div class="card table-card">
            <div class="card-header">
                <h5>Ticket</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="feather icon-refresh-cw" ng-click="GetCustomerTicketList()"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless table-text-ellipsis">
                        <thead>
                            <tr>
                                <th>{{'Ticket Id' |translate}}</th>
                                <th>{{'Ticket Date' |translate}}</th>
                                <th>{{'Status' |translate}}</th>
                                <th>{{'Created By' |translate}}</th>
                                <th>{{'Ticket Type' |translate}}</th>
                                <th>{{'Subject' |translate}}</th>
                                <!--<th>{{'Contract Number' |translate}}</th>
                                <th>{{'Employee ID' |translate}}</th>
                                <th>{{'Employee Name' |translate}}</th>-->
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-class="{'selected': list.EnquiryId == TicketNumber}"
                                ng-repeat="list in CustomerTicketList | limitTo: -5" ng-click="getTicketDetails(list)">
                                <td>
                                    <a class="view_details" href="#/ticketdetails/{{SerachCustomerID}}/{{list.EnquiryId}}">{{list.EnquiryId}}</a>
                                </td>
                                <td>{{(list.EnquieryDate | date:"dd/MM/yyyy") || ''}}</td>
                                <td>{{list.StatusName}}</td>
                                <td>{{list.CreatedBy | translate}}</td>
                                <td>{{list.TicketTypeName}}</td>
                                <td style="max-width:200px;" title="{{list.Subject}}">{{list.Subject}}</td>
                                <!--<td>{{list.ContractNumber}}</td>
                                <td>{{list.LabourNumber =="null" ? " ":list.LabourNumber}}</td>
                                <td>{{list.LabourName =="null" ? " ":list.LabourName}}</td>-->
                            </tr>
                            <tr ng-if="!CustomerTicketList || CustomerTicketList.length <1">

                                <td colspan="9">
                                    {{'No Data Available' | translate}}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <ul class="list-unstyled m-t-10 p-l-15 p-r-15">
                    <li class="f-left"> <span>Total Records</span>:   {{CustomerTicketList.length}}</li>

                    <li class="text-right"><a class="f-w-500" href="#/ticket/{{SerachCustomerID}}/{{-2}}}">More <i class="fa fa-forward "></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="row col-md-8" style="margin:0px;padding:0;">
        <div class="col-md-4">
            <div class="card statustic-progress-card">
                <div class="card-header">
                    <h5>Total payment</h5>
                </div>
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <label class="label label-inverse" ng-if="TotalAmount">
                                {{TotalAmount}} <i class="m-l-10">SAR</i>
                            </label>
                            <label class="label label-inverse" ng-if="!TotalAmount">
                                0.00 <i class="m-l-10">SAR</i>
                            </label>
                        </div>

                    </div>
                    <div class="progress m-t-15">
                        <div class="progress-bar bg-c-pink" style="width:{{TotalAmount}}%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card statustic-progress-card">
                <div class="card-header">
                    <h5>Paid Payment</h5>
                </div>
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <label class="label bg-c-lite-green" ng-if="PaidAmount">
                                {{PaidAmount}} <i class="m-l-10">SAR</i>
                            </label>
                            <label class="label bg-c-lite-green" ng-if="!PaidAmount">
                                0.00  <i class="m-l-10">SAR</i>
                            </label>
                        </div>

                    </div>
                    <div class="progress m-t-15">
                        <div class="progress-bar bg-c-pink" style="width:{{PaidAmount}}%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card statustic-progress-card">
                <div class="card-header">
                    <h5>Pending Payment</h5>
                </div>
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <label class="label label-danger" ng-if="PendingAmount">
                                {{PendingAmount}} <i class="m-l-10">SAR</i>
                            </label>
                            <label class="label label-danger" ng-if="!PendingAmount">
                                0.00  <i class="m-l-10">SAR</i>
                            </label>
                        </div>

                    </div>
                    <div class="progress m-t-15">
                        <div class="progress-bar bg-c-pink" style="width:{{PendingAmount}}%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-4" style="margin:0px;padding:0;">
        <div class="col-md-6">
            <div class="card statustic-progress-card">
                <div class="card-header">
                    <h5>Achieved SLA</h5>
                </div>
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <label class="label label-danger" ng-if="AchievedSLA">
                                {{AchievedSLA}} <i class="m-l-10">%</i>
                            </label>
                            <label class="label label-danger" ng-if="!AchievedSLA">
                                0  <i class="m-l-10">%</i>
                            </label>
                        </div>
                        <div class="col text-right">
                            <!-- <h5 class="">{{OpenTicket.Count}}</h5> -->
                        </div>
                    </div>
                    <div class="progress m-t-15">
                        <div class="progress-bar bg-c-pink" style="width:{{AchievedSLA}}%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card statustic-progress-card">
                <div class="card-header">
                    <h6>Team Evaluation</h6>
                </div>
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <label class="label label-danger" ng-if="TeamEvaluation">
                                {{TeamEvaluation}} <i class="m-l-10">%</i>
                            </label>
                            <label class="label label-danger" ng-if="!TeamEvaluation">
                                0  <i class="m-l-10">%</i>
                            </label>
                        </div>
                        <div class="col text-right">
                            <!-- <h5 class="">{{OpenTicket.Count}}</h5> -->
                        </div>
                    </div>
                    <div class="progress m-t-15">
                        ">
                        <div class="progress-bar bg-c-pink" style="width:{{TeamEvaluation}}%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row" ng-if="false">
    <div class="col-xl-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>New Users</h5>
            </div>
            <div class="card-block">
                <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                <canvas id="newuserchart" height="250" width="284" style="display: block; width: 284px; height: 250px;"></canvas>
            </div>
            <div class="card-footer ">
                <div class="row text-center b-t-default">
                    <div class="col-4 b-r-default m-t-15">
                        <h5>85%</h5>
                        <p class="text-muted m-b-0">Satisfied</p>
                    </div>
                    <div class="col-4 b-r-default m-t-15">
                        <h5>6%</h5>
                        <p class="text-muted m-b-0">Unsatisfied</p>
                    </div>
                    <div class="col-4 m-t-15">
                        <h5>9%</h5>
                        <p class="text-muted m-b-0">NA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="row" ng-if="false">


    <div class="col-xl-3 col-md-6">
        <a href="#/ticket/{{SerachCustomerID}}/{{OpenTicket.StatusId}}">
            <div class="card statustic-progress-card">
                <div class="card-header">
                    <h5>Open Ticket</h5>
                </div>
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <label class="label label-danger" ng-if="OpenTicketPer">
                                {{OpenTicketPer}}% <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                            <label class="label label-danger" ng-if="!OpenTicketPer">
                                0.00 % <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                        </div>
                        <div class="col text-right">
                            <h5 class="">{{OpenTicket.Count}}</h5>
                        </div>
                    </div>
                    <div class="progress m-t-15">
                        <div class="progress-bar bg-c-pink" style="width:{{OpenTicketPer}}%"></div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6">
        <a href="#/ticket/{{SerachCustomerID}}/{{CloseTicket.StatusId}}">
            <div class="card statustic-progress-card">
                <div class="card-header">
                    <h5>Close Ticket</h5>
                </div>
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <label class="label bg-c-lite-green" ng-if="CloseTicketPer">
                                {{CloseTicketPer}}% <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                            <label class="label bg-c-lite-green" ng-if="!CloseTicketPer">
                                0.00 % <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                        </div>
                        <div class="col text-right">
                            <h5 class="">{{CloseTicket.Count}}</h5>
                        </div>
                    </div>
                    <div class="progress m-t-15">
                        <div class="progress-bar bg-c-lite-green" style="width:{{CloseTicketPer}}%"></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a href="#/ticket/{{SerachCustomerID}}/{{OnHoldTicket.StatusId}}">
            <div class="card statustic-progress-card">
                <div class="card-header">
                    <h5>OnHold Ticket</h5>
                </div>
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <label class="label label-warning" ng-if="OnHoldTicketPer">
                                {{OnHoldTicketPer}}% <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                            <label class="label label-warning" ng-if="!OnHoldTicketPer">
                                0.00 % <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                        </div>
                        <div class="col text-right">
                            <h5 class="">{{OnHoldTicket.Count}}</h5>
                        </div>
                    </div>
                    <div class="progress m-t-15">
                        <div class="progress-bar bg-c-yellow" style="width:{{OnHoldTicketPer}}%"></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a href="#/ticket/{{SerachCustomerID}}/{{CanceledTicket.StatusId}}">
            <div class="card statustic-progress-card">
                <div class="card-header">
                    <h5>Cancelled Ticket</h5>
                </div>
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <label class="label label-inverse" ng-if="CanceledTicketPer">
                                {{CanceledTicketPer}}% <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                            <label class="label label-inverse" ng-if="!CanceledTicketPer">
                                0.00 % <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                        </div>
                        <div class="col text-right">
                            <h5 class="">{{CanceledTicket.Count}}</h5>
                        </div>
                    </div>
                    <div class="progress m-t-15">
                        <div class="progress-bar bg-viber" style="width:{{CanceledTicketPer}}%"></div>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>

<div class="row" ng-if="false">
    <div class="col-sm-4">
        <div class="card bg-c-pink text-white widget-visitor-card">
            <div class="card-block-small text-center">
                <h2>123</h2>
                <h6>Low</h6>
                <i class="feather icon-zap"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card bg-c-blue text-white widget-visitor-card">
            <div class="card-block-small text-center">
                <h2>320</h2>
                <h6>Meduim</h6>
                <i class="feather icon-file-text"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card bg-c-yellow text-white widget-visitor-card">
            <div class="card-block-small text-center">
                <h2>567</h2>
                <h6>High</h6>
                <i class="feather icon-award"></i>
            </div>
        </div>
    </div>

</div>

