﻿
<div ng-click="clickbody($event)">

    <script src="files/assets/pages/widget/amchart/amcharts.js" type="edd3b9482ffe1d04d5bd33db-text/javascript"></script>
    <script src="files/assets/pages/widget/amchart/serial.js" type="edd3b9482ffe1d04d5bd33db-text/javascript"></script>
    <script src="files/assets/pages/widget/amchart/light.js" type="edd3b9482ffe1d04d5bd33db-text/javascript"></script>

    <div class="row">
        <div class="col-xl-6 col-md-12" ng-if="false">
            <div class="card user-card-full">
                <div class="row m-l-0 m-r-0">
                    <div class="col-sm-4 bg-c-lite-green user-profile">
                        <div class="card-block text-center text-white">
                            <div class="m-b-25">
                                <img ng-if="CCPUser.ProfilePath && CCPUser.ProfilePath !=''" src="{{APiUrl}}/{{CCPUser.ProfilePath}}" class="img-radius img-card-profile" alt="Profile-Image">
                                <img ng-if="!CCPUser.ProfilePath || CCPUser.ProfilePath ==''" src="/CCPortal/files/assets/images/avatar.jpg" class="img-radius img-card-profile" alt="Profile-Image">
                            </div>
                            <h6 class="f-w-600">{{UserName}}</h6>
                            <p>Call Center </p>
                            <!-- <i class="feather icon-edit m-t-10 f-16"></i>-->
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card-block">
                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Name</p>
                                    <h6 class="text-muted f-w-400">{{CCPUser.Name}}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Mobile Number</p>
                                    <h6 class="text-muted f-w-400">{{CCPUser.Phone}}</h6>
                                </div>
                            </div>
                            <h6 class="m-b-20 m-t-20 p-b-5 b-b-default f-w-600">Tasks</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Recent</p>
                                    <h6 class="text-muted f-w-400">Call to Customer</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Last Customer Status</p>
                                    <h6 class="text-muted f-w-400">call Not Attand</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 col-md-12">
            <div class="card flt_cnter" style="width: 75%;">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-1 col-lg-12 col-md-12">
                            <p class="txt-highlight text-center m-t-10 m-b-0 f-16 themeprimary f-w-600">Search Customers</p>
                        </div>
                    </div>
                    <div class="row seacrh-header">
                        <div class="col-lg-1 col-lg-12 col-md-12">
                            <div class="input-group input-group-button input-group-primary">
                                <input type="text" id="txtCustomerFilter" class="form-control" placeholder="Search here..." ng-keyup="getSearchCustomer($event)" ng-model="CustomerFilter">
                                <div class="search-table" ng-show="showCustomerList">
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table id="customer_tbl" class="table table-bordered table-condensed table-striped">
                                                <thead>
                                                    <tr class="themesecondary">
                                                        <td></td>
                                                        <td>Customer Id</td>
                                                        <td>Customer Name</td>
                                                        <td>Id Number</td>
                                                        <td>Mobile Number</td>
                                                        <td>Contract Number</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="list in customerlist">
                                                        <td>
                                                            <button class="btn btn-primary" ng-click="selectCustomer(list)" style="padding: 2px 10px;">
                                                                <i class="fa fa-external-link" style="margin:0;font-size: 13px;"></i>
                                                            </button>
                                                        </td>
                                                        <td>{{list.CustomerID}}</td>
                                                        <td>{{list.Name}}</td>
                                                        <td>{{list.IDNumber}}</td>
                                                        <td>{{list.MobileNumber}}</td>
                                                        <td>{{list.ContractNumber}}</td>
                                                    </tr>
                                                    <tr ng-if="customerlist.length < 1" class="">
                                                        <td colspan="6">No Customer</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary input-group-addon" id="basic-addon1" ng-click="getSearchCustomer($event)">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-xl-3 col-md-6">
            <div class="card statustic-progress-card">
                <div class="card-header">
                    <h5>Open Ticket</h5>
                </div>
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <label class="label label-danger" ng-if="OpenTicketPer">
                                {{OpenTicketPer}}% <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                            <label class="label label-danger" ng-if="!OpenTicketPer">
                                0.00 % <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                        </div>
                        <div class="col text-right">
                            <h5 class="">{{OpenTicket.Count}}</h5>
                        </div>
                    </div>
                    <div class="progress m-t-15">
                        <div class="progress-bar bg-c-pink" style="width:{{OpenTicketPer}}%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card statustic-progress-card">
                <div class="card-header">
                    <h5>Close Ticket</h5>
                </div>
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <label class="label bg-c-lite-green" ng-if="CloseTicketPer">
                                {{CloseTicketPer}}% <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                            <label class="label label-danger" ng-if="!CloseTicketPer">
                                0.00 % <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                        </div>
                        <div class="col text-right">
                            <h5 class="">{{CloseTicket.Count}}</h5>
                        </div>
                    </div>
                    <div class="progress m-t-15">
                        <div class="progress-bar bg-c-lite-green" style="width:{{CloseTicketPer}}%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card statustic-progress-card">
                <div class="card-header">
                    <h5>OnHold Ticket</h5>
                </div>
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <label class="label label-warning" ng-if="!OnHoldTicketPer">
                                {{OnHoldTicketPer}}% <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                            <label class="label label-danger" ng-if="!OnHoldTicketPer">
                                0.00 % <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                        </div>
                        <div class="col text-right">
                            <h5 class="">{{OnHoldTicket.Count}}</h5>
                        </div>
                    </div>
                    <div class="progress m-t-15">
                        <div class="progress-bar bg-c-yellow" style="width:{{OnHoldTicketPer}}%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card statustic-progress-card">
                <div class="card-header">
                    <h5>Cancelled Ticket</h5>
                </div>
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <label class="label label-inverse" ng-if="!CanceledTicketPer">
                                {{CanceledTicketPer}}% <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                            <label class="label label-danger" ng-if="!CanceledTicketPer">
                                0.00 % <i class="m-l-10 feather icon-arrow-up"></i>
                            </label>
                        </div>
                        <div class="col text-right">
                            <h5 class="">{{CanceledTicket.Count}}</h5>
                        </div>
                    </div>
                    <div class="progress m-t-15">
                        <div class="progress-bar bg-viber" style="width:{{CanceledTicketPer}}%"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" ng-if="false">
        <div class="col-sm-4">
            <div class="card bg-c-pink text-white widget-visitor-card">
                <div class="card-block-small text-center">
                    <h2>123</h2>
                    <h6>Low</h6>
                    <i class="feather icon-zap"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-c-blue text-white widget-visitor-card">
                <div class="card-block-small text-center">
                    <h2>320</h2>
                    <h6>Meduim</h6>
                    <i class="feather icon-file-text"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-c-yellow text-white widget-visitor-card">
                <div class="card-block-small text-center">
                    <h2>567</h2>
                    <h6>High</h6>
                    <i class="feather icon-award"></i>
                </div>
            </div>
        </div>

    </div>

    

</div>