﻿


<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="card table-card">
            <div class="card-header">
                <h5>Payment Details</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="feather icon-refresh-cw" ng-click="getCustomerPaymentList()"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless">
                        <thead>
                            <tr>

                                <th></th>
                                <th>Payment Number</th>
                                <th>Payment Date</th>
                                <th>Method Of Payment</th>
                                <th>Document Number</th>
                                <th>Document Details</th>
                                <th>Payment Amount</th>
                                <th>Settle Amount</th>
                                <th>Created By</th>

                            </tr>

                        </thead>
                        <tbody ng-repeat="list in CustomerPaymentList">
                            <tr ng-class="{'selected': list.PaymentNumber == PaymentNumber}">
                                <td>
                                    <button id="showpayment_{{list.PaymentNumber}}" class="btn btn-primary waves-effect waves-light btn-sm showpayment" ng-click="GetPaymentProcess(list)"><i class="fa fa-plus"></i></button>
                                    <button id="closepayment_{{list.PaymentNumber}}" class="btn btn-primary waves-effect waves-light btn-sm closepayment" ng-click="CloseGetPaymentProcess(list)" style="display:none;"><i class="fa fa-minus"></i></button>
                                </td>
                                <td>{{list.PaymentNumber}}</td>
                                <td>{{(list.PaymentDate  | date:"dd/MM/yyyy") || ''}}</td>
                                <td>{{list.MethodOfPayment}}</td>
                                <td>{{list.DocumentNumber}}</td>
                                <td>{{list.DocumentDetails}}</td>
                                <td>{{list.PaymentAmount}}</td>
                                <td>{{list.SettleAmountContract}}</td>
                                <td>{{list.CreatedBy}}</td>
                            </tr>
                            <tr id="payment_{{list.PaymentNumber}}" ng-show="showpaymentTransaction" ng-if="showpaymentrecid==list.PaymentNumber">
                                <td colspan="11">

                                    <table class="table table-striped table-bordered table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Payment Number</th>
                                                <th>Transaction Id</th>
                                                <th>Settle Amount</th>
                                                <th>Settlement Type</th>
                                                <th>Return Type</th>
                                                <th>Created By</th>
                                                <th>Created Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in SettledPaymentList ">

                                                <td>{{item.PaymentNumber}}</td>
                                                <td>{{item.TransactionId}}</td>
                                                <td>{{item.SettlementAmount}}</td>
                                                <td>{{item.SettlementType}}</td>
                                                <td>{{item.ReturnTypeEn}}</td>
                                                <td>{{item.SettlementCreatedBy}}</td>
                                                <td>{{(item.SettlementCreatedDate  | date:"dd/MM/yyyy") || ''}}</td>

                                            </tr>
                                            <tr ng-if="SettledPaymentList.length < 1">
                                                <td colspan="7">{{'No available list' | translate}}</td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="ContractPaymentList.length < 1">
                            <tr>
                                <td colspan="9">{{'No available list' | translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>






