﻿
<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->

                <form class="md-float-material form-material">
                    <div class="text-center">
                        <img src="/CCPortal/files/assets/images/logo1.png" alt="logo.png">
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center themeprimary text-uppercase">Sign In</h3>
                                </div>
                            </div>
                            <div class="form-group form-primary">
                                <input type="text" name="email" class="form-control" ng-model="login.UserName" required="" placeholder="UserName">
                                <span class="form-bar"></span>
                            </div>
                            <div class="form-group form-primary">
                                <input type="password" name="password" class="form-control" ng-model="login.Password" required="" placeholder="Password">
                                <span class="form-bar"></span>
                            </div>
                          
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="button" ng-click="signIn()" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign in</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
                <!-- end of form -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>


<style>
    body.horizontal-icon .pcoded .main-body, body.horizontal-icon-fixed .pcoded .main-body {
        margin: 0px;
    }

    .login-block {
        padding: 0px;
        min-height: calc(100vh - 134px);
    }
</style>