﻿<style>
    .hide {
        display: none !important;
    }
    .datepicker.dropdown-menu {
        z-index: 11111111111;
    }
</style>


<div id="createpopup" class="modal my_model ticketpop cust_service_pop ">
    <div class="modal-dialog" style="max-width: 600px">
        <div class="modal-content">
            <form editable-form name="editableForm5" onaftersave="saveCustomerDeligation($data, custdelegation.RecId)">
                <div class="modal-header">
                    <button type="button" id="btnclose" class="close dclose" data-dismiss="modal"
                            ng-click="hideTicketpop()" aria-label="close">
                        ×
                    </button>
                    <h4 class="modal-title">{{'Task' | translate }}</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="" id="createpopup">

                        <div class="table-card ticketpop_content input_block">
                            <div class="f-w-600 f-16">
                                <!-- <h5>Ticket</h5> -->
                                <label for="Comments-2" class="block">CustomerId</label> - {{SerachCustomerID}}
                            </div>
                            <div class="card-block row">

                                <fieldset id="verticle-wizard-p-0" role="tabpanel" class="">


                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Comments-2"
                                                   class="block">{{'Title' |translate}}</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="text" id="txtSubject" class="editable-input"
                                                   placeholder="Title" style="height: 27px;" />
                                        </div>
                                    </div>

                                    <div class="form-group fullwidth">
                                        <div class="col-sm-12">
                                            <label for="Comments-2" class="block">{{'Description' |translate}}</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <textarea id="textArea" class="editable-input" rows="4"
                                                      placeholder="Description"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Nationality-2" class="block">{{'Assigned To Group' |translate}} </label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" id="ddlAssignedGroup" name="ddlAssignedGroup"
                                                    ng-model="ddlAssignedGroup"
                                                    ng-options="g.ID as g.Name for g in Assigntogroup"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Nationality-2" class="block">{{'Assigned To' |translate}} </label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" id="ddlAssignedTo" name="ddlAssignedTo"
                                                    ng-model="ddlAssignedTo"
                                                    ng-options="g.ID as g.Name for g in AssignedTo"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Comments-2"
                                                   class="block">{{'Contract Number' |translate}}</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" id="txtContractNo" name="txtContractNo"
                                                    ng-model="TaskContract"
                                                    ng-options="g.ContractNumber as g.ContractNumber for g in CustomerContract"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Comments-2"
                                                   class="block">{{'Target date' |translate}}</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="text" id="txtTarget" ng-model="TargetDate"  datedirtodayfuture class="editable-input"
                                                   placeholder="Target" style="height: 27px;" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Comments-2"
                                                   class="block">{{'You can upload a file' |translate}}</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="file" name="files" id="file-6" ng-model="FileAttach"
                                                   onchange="angular.element(this).scope().fileNameChanged()"
                                                   class="inputfile inputfile-5"
                                                   data-multiple-caption="{count} files selected" multiple="">
                                            <!--<label for="file-6">
                <p>{{'Choose File' |translate}}</p><span ng-show="!ChoosenFileName || ChoosenFileName==''" id="clisttxt">{{'No File Chosen' |translate}}</span>
                <span ng-show="ChoosenFileName" id="clisttxt">{{FileName}}</span>
            </label>-->
                                        </div>
                                    </div>

                                </fieldset>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <div class="clearfix">
                        <!--<button type="button" class="btn btn-primary" ng-click="ClearFilter()">Cancel</button>-->
                        <button type="button" class="my_btn btn-primary" id="crtbtn">Create</button>
                    </div>
                </div>
            </form>
        </div>


    </div>

</div>


<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="card table-card">
            <div class="card-header">
                <h5>Task</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="feather icon-refresh-cw" ng-click="GetCustomerTaskList()"></i></li>
                        <li><i class="fa fa-pencil-square-o" ng-click="CreateTask()"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless table-text-ellipsis">
                        <thead>
                            <tr>
                                <th>{{'Action' |translate}}</th>
                                <th>{{'Task Id' |translate}}</th>
                                <th>{{'Created Date' |translate}}</th>
                                <th>{{'Target Date' |translate}}</th>
                                <th>{{'Title' |translate}}</th>
                                <th>{{'Description' |translate}}</th>
                                <th>{{'Assigned To' |translate}}</th>
                                <th>{{'Source' |translate}}</th>
                                <th>{{'Source Id' |translate}}</th>
                                <th>{{'IsDone' |translate}}</th>
                                <th>{{'CustomerId' |translate}}</th>
                                <th>{{'ContractNumber' |translate}}</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-class="{'selected': list.RecId == TaskId}"
                                ng-repeat="list in CustomerTaskList | filter : Ticketpaginate" ng-click="getTaskDetails(list)">
                                <td class="action_icons">
                                    <a class="view_details" href="#/taskdetails/{{SerachCustomerID}}/{{list.RecId}}"><i class="fa fa-address-card-o"></i></a>
                                </td>
                                <td>
                                    <a class="view_details" href="#/taskdetails/{{SerachCustomerID}}/{{list.RecId}}">{{list.RecId}}</a>
                                </td>
                                <td>{{(list.CreatedDate | date:"dd/MM/yyyy") || ''}}</td>
                                <td>{{(list.TargetDate | date:"dd/MM/yyyy") || ''}}</td>
                                <td>{{list.Title}}</td>
                                <td>{{list.Description}}</td>
                                <td>{{list.AssignedToEn}}</td>
                                <td>{{list.Source}}</td>
                                <td>{{list.SourceId}}</td>
                                <td>{{list.IsDoneEn}}</td>
                                <td>{{list.CustomerId}}</td>
                                <td>{{list.ContractNumber}}</td>
                            </tr>
                            <tr ng-if="!CustomerTaskList || CustomerTaskList.length <1">
                                <td colspan="9">
                                    {{'No Data Available' | translate}}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <ul class="pagination" ng-if="CustomerTaskList && CustomerTaskList.length > 0">
                        <li class="paging symbol"><a href="" ng-click="selectTicketpagination(1)" ng-class="{inactiveLink: TicketcurrentPage < 2}" class="fa fa-step-backward themeprimary"></a></li>
                        <li class="paging symbol"><a href="" ng-click="selectTicketpagination(TicketcurrentPage - 1)" ng-class="{inactiveLink: TicketcurrentPage < 2}" class="fa fa-chevron-left themeprimary"></a></li>
                        <li class="paging pagetext">
                            <span>
                                <em> {{'Page' | translate}}</em><input type="number" ng-model="TicketcurrentPage" min="1" max="{{Tickettotallist}}" class="txtPage inactiveLink">
                                <em>{{'of' | translate}}</em> <span class="endpage themeprimary">{{Tickettotallist}}</span>
                            </span>
                        </li>
                        <li class="paging symbol"><a href="" ng-click="selectTicketpagination(TicketcurrentPage + 1)" ng-class="{inactiveLink: TicketcurrentPage >= Tickettotallist}" class="fa fa-chevron-right themeprimary"></a></li>
                        <li class="paging symbol"><a href="" ng-click="selectTicketpagination(Tickettotallist)" ng-class="{inactiveLink: TicketcurrentPage >=Tickettotallist}" class="fa fa-step-forward themeprimary"></a></li>
                        <li class="paging pagetext">
                            <span>
                                <select class="txtPage" ng-model="pagination.TicketnumPerPage" ng-change="changeTicketpagesize(pagination.TicketnumPerPage)">
                                    <option value="{{g}}" ng-repeat="g in paginationPageSizes"> {{g}} </option>
                                </select>
                            </span>
                        </li>
                        <li class="paging-totalrecord themeprimary pull-right"><p class="themeprimary"><i>{{'Total Records' | translate}} : <strong>{{CustomerTaskList.length}}</strong></i></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



</div>