﻿


<div class="row">
    
    <h6 id="selected_contract" class="m-b-30 p-b-10 b-b-default f-w-600 width-100">
        Selected Task - {{taskdetails.RecId}}
        <a class="f-right m-r-15 text-primary" href="#/task/{{SerachCustomerID}}">
            <i class="fa fa-mail-reply"></i>
        </a>
    </h6>
    <div class="col-xl-6 col-md-12 display-flex">
        <div class="card social-network  width-100">
            <div class="card-header">
                <h5>{{'Task Details' | translate}}</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Task ID' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400"> {{taskdetails.RecId}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Description' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400"> {{taskdetails.Description}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Created Date' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400"> {{taskdetails.CreatedDate.replace('/Date(','').replace(')/','') | date:"MM/dd/yyyy"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Target Date' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400"> {{taskdetails.TargetDate.replace('/Date(','').replace(')/','') | date:"MM/dd/yyyy"}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Assigned To' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400"> {{taskdetails.AssignedTo}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Source' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{taskdetails.Source}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'SourceId' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{taskdetails.SourceId}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Is Done' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{taskdetails.IsDoneEn}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'CustomerId' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{taskdetails.CustomerId}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'ContractNumber' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{taskdetails.ContractNumber}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

