﻿<style>
    .hide, .canvasjs-chart-credit {
        display: none !important;
    }

</style>
               
<!--<div class="row">
    <div class="col-sm-4">
        <div class="card bg-c-pink text-white widget-visitor-card">
            <div class="card-block-small text-center">
                <h2>123</h2>
                <h6>High</h6>
                <i class="feather icon-zap"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card bg-c-blue text-white widget-visitor-card">
            <div class="card-block-small text-center">
                <h2>320</h2>
                <h6>Meduim</h6>
                <i class="feather icon-file-text"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card bg-c-yellow text-white widget-visitor-card">
            <div class="card-block-small text-center">
                <h2>567</h2>
                <h6>High</h6>
                <i class="feather icon-award"></i>
            </div>
        </div>
    </div>

</div>-->
<!-- <div class="col-xl-12 col-md-12">
<a class="btn btn-primary" ng-click="CreateTicket()" style="margin:0 5px;"><i class="fa fa-plus"></i>
    {{'Create Ticket' | translate }} </a>
</div> -->

<div id="createpopup" class="modal my_model ticketpop cust_service_pop ">
    <div class="modal-dialog" style="max-width: 600px">
        <div class="modal-content">
            <form editable-form name="editableForm5" onaftersave="saveCustomerDeligation($data, custdelegation.RecId)">
                <div class="modal-header">
                    <button type="button" id="btnclose" class="close dclose" data-dismiss="modal"
                            ng-click="hideTicketpop()" aria-label="close">
                        ×
                    </button>
                    <h4 class="modal-title">{{'Ticket' | translate }}</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="" id="createpopup">

                        <div class="table-card ticketpop_content input_block">
                            <div class="f-w-600 f-16">
                                <!-- <h5>Ticket</h5> -->
                                <label for="Comments-2" class="block">CustomerId</label> - {{SerachCustomerID}}
                                <!-- <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="feather icon-maximize full-card"></i></li>
                                        <li><i class="feather icon-minus minimize-card"></i></li>
                                    </ul>
                                </div> -->
                            </div>
                            <div class="card-block row">

                                <fieldset id="verticle-wizard-p-0" role="tabpanel" class="">


                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Comments-2"
                                                   class="block">{{'Contract Number' |translate}} <span class="red">*</span></label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" id="txtContractNo" name="txtContractNo"
                                                    ng-model="TicketContract"
                                                    ng-change="GetContractEmployee(TicketContract)"
                                                    ng-options="g.ContractNumber as g.ContractNumber for g in CustomerContract"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Comments-2" class="block">{{'Labour ID' |translate}}</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" id="txtLabour" name="txtLabour"
                                                    ng-model="TicketLabour" ng-change="BindEmployeeName(TicketLabour)"
                                                    ng-options="g.EmployeeId as g.EmployeeId for g in CustomerLabour"></select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Nationality-2" class="block">{{'Ticket Type' |translate}} </label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" id="ddlTicketType" name="ddlTicketType"
                                                    ng-model="ddlTicketType" ng-change="ChangeTicketType()" 
                                                    ng-options="g.ID as g.Name for g in TicketType"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Nationality-2" class="block">{{'Department' |translate}} </label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" id="ddlAssignedGroup" name="ddlAssignedGroup"
                                                    ng-model="ddlAssignedGroup" ng-change="ChangeAssigntogroup()" 
                                                    ng-options="g.ID as g.Name for g in Assigntogroup"></select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Nationality-2" class="block">{{'Assigned To' |translate}} </label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" id="ddlAssignedTo" name="ddlAssignedTo"
                                                    ng-model="ddlAssignedTo"
                                                    ng-options="g.ID as g.Name for g in AssignedTo"></select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Nationality-2" class="block">{{'Priority' |translate}} </label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" id="ddlPriority" name="ddlPriority"
                                                    ng-model="ddlPriority"
                                                    ng-options="g.ID as g.Name for g in Priority"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Nationality-2" class="block">{{'Category' |translate}} <span class="red">*</span></label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" id="ddlGroup" name="ddlGroup"
                                                    ng-change="ChangeGroup()" ng-model="$parent.ddlGroup"
                                                    ng-options="g.TicketGroupID as g.TicketGroupName for g in ddlGroupDrop">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <div class="col-sm-12">
                                            <label for="Branch-2" class="block">{{'Sub Category' |translate}} <span class="red">*</span></label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" ng-change="changeSubGroup(g)"
                                                    id="ddlSubGroup" ng-model="ddlSubGroup"
                                                    ng-options="g.Id as g.Description for g in ddlSubGroupDrop"></select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Comments-2"
                                                   class="block">{{'Ticket Subject' |translate}} <span class="red">*</span></label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="text" id="txtSubject" class="editable-input"
                                                   placeholder="Ticket Subject" style="height: 27px;" />
                                        </div>
                                    </div>

                                    <div class="form-group" ng-if="false" >
                                        <div class="col-sm-12">
                                            <label for="Comments-2"
                                                   class="block">{{'Accuracy' |translate}}</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" id="txtAccuracy" name="txtAccuracy">
                                                <option value="0">{{'Not Real' |translate}}</option>
                                                <option value="1">{{'Real' |translate}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--<div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Comments-2"
                                                   class="block">{{'Customer Satisfied' |translate}}</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <select class="editable-input" id="txtCustomerSatisfied" name="txtCustomerSatisfied">
                                                <option value="0">{{'Not Satisfied' |translate}}</option>
                                                <option value="1">{{'Satisfied' |translate}}</option>
                                            </select>
                                        </div>
                                    </div>-->

                                    <div class="form-group fullwidth">
                                        <div class="col-sm-12">
                                            <label for="Comments-2" class="block">{{'Description' |translate}} <span class="red">*</span></label>
                                        </div>
                                        <div class="col-sm-12">
                                            <textarea id="textArea" class="editable-input" rows="4"
                                                      placeholder="Description"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="Comments-2"
                                                   class="block">{{'You can upload a file' |translate}}</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="file" name="files" id="file-6" ng-model="FileAttach"
                                                   onchange="angular.element(this).scope().fileNameChanged()"
                                                   class="inputfile inputfile-5"
                                                   data-multiple-caption="{count} files selected" multiple="">
                                            <!--<label for="file-6">
                <p>{{'Choose File' |translate}}</p><span ng-show="!ChoosenFileName || ChoosenFileName==''" id="clisttxt">{{'No File Chosen' |translate}}</span>
                <span ng-show="ChoosenFileName" id="clisttxt">{{FileName}}</span>
            </label>-->
                                        </div>
                                    </div>

                                </fieldset>

                                <!-- <div class="card-block-footer clearfix">
                                                <button type="button" class="btn btn-primary" ng-click="ClearFilter()">Cancel</button>
                                                <button type="button" class="btn btn-primary" id="crtbtn">Send</button>
                                            </div> -->
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <div class="clearfix">
                        <!--<button type="button" class="btn btn-primary" ng-click="ClearFilter()">Cancel</button>-->
                        <button type="button" class="my_btn btn-primary" id="crtbtn">Create</button>
                    </div>
                </div>
            </form>
        </div>


    </div>

</div>
             
<div id="Ticketupdate" class="modal my_model ticket_update_pop">
    <div class="modal-dialog" style="max-width: 650px;">
        <div class="modal-content">
            <form editable-form name="editableForm5" onaftersave="saveupdate(EnqId)">
                <div class="modal-header">
                    <button type="button" id="btnclose" class="close dclose" data-dismiss="modal"
                            ng-click="closeTicketupdate()" aria-label="close">
                        ×
                    </button>
                    <h4 class="modal-title">{{'Ticket Quick Updates' | translate }}</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <table class="table table-bordered table-hover table-striped">

                            <thead>
                                <tr>
                                    <th>Customer Name</th>
                                    <th>Contact No </th>
                                    <th>Email</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="lCustomerName" class="ng-binding">{{CustomerName}}</td>
                                    <td id="lContactNo" class="ng-binding">{{Contact}}</td>
                                    <td id="lEmail" class="ng-binding">{{Email}}</td>
                                    <td id="lStatusName" class="ng-binding">{{Status}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="descp" style="width:100%;">
                            <label class="col-lg-3 pull-left">Subjects</label>
                            <div class="col-lg-9 pull-left">
                                {{Subject}}
                            </div>
                        </div>

                        <div class="descp" style="width:100%;">
                            <label class="col-lg-3 pull-left">Description</label>
                            <div class="col-lg-9 pull-left">
                                {{Desp}}
                            </div>
                        </div>

                        <div class="panel bank_actives ticket_tab">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a>Internal Reply</a></li>
                                    <li><a>External Reply</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div class="card-block">
                                            <textarea class="fullwidth" ng-model="comments"> </textarea>
                                        </div>
                                    </div>

                                    <div class="tab-pane">
                                        <div class="card-block">
                                            <div class="col-sm-12  select_box">
                                                <select id="StatusSelect" name="StatusSelect"
                                                        ng-model="StatusSelect" ng-change="changeStatusSelected()"
                                                        ng-options="g.ID as g.Name for g in statuslist"></select>
                                            </div>
                                            <textarea class="fullwidth" ng-model="comments"> </textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>                         
                        <div class="row fileupload">
                            <div class="col">
                                <input id="fileUploadQ" type="file">
                            </div>
                            <div class="col" id="CustomerSatisfieddiv" ng-show="showCustomerSatisfied">
                                <label> Is Customer Satisfied ? </label>
                                <select class="editable-input" id="ddlCustomerSatisfied" name="ddlCustomerSatisfied">
                                    <option value="0">{{'Not Satisfied' |translate}}</option>
                                    <option value="1">{{'Satisfied' |translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <span>
                            <button type="submit" class="my_btn btn-primary" id="btnRegistrationSave5"
                                    ng-disabled="editableform5.$waiting">
                                {{'Save' | translate }}
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>


    </div>

</div>

<div class="row" ng-if="false">
    <div class="col-xl-12 col-md-12 display_flex">
        <div class="card user-card-full full_width">
            <div class="row m-l-0 m-r-0">
                <div class="col-sm-3 bg-c-lite-green user-profile">
                    <div class="card-block text-center text-white">                        
                        <div class="m-b-25">
                            <img ng-if="user.ProfilePath && user.ProfilePath !=''" src="{{APiUrl}}/{{user.ProfilePath}}" class="img-radius img-card-profile" alt="Profile-Image">
                            <img ng-if="!user.ProfilePath || user.ProfilePath ==''" src="/CCPortal/files/assets/images/avatar.jpg" class="img-radius img-card-profile" alt="Profile-Image">
                        </div>
                        <h6 class="f-w-600">{{user.FirstName}} {{user.MiddleName}} {{user.LastName}} {{user.FamilyName}}</h6>
                        <p>{{user.CustomerID}} </p>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="card-block">
                        <h6 class="m-b-10 p-b-5 b-b-default f-w-600 themeprimary">Personal</h6>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Customer ID</p>
                                <h6 class="text-muted f-w-400">{{user.CustomerID}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">National/Iqama Id</p>
                                <h6 class="text-muted f-w-400">{{user.IDNumber}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Gender</p>
                                <h6 class="text-muted f-w-400">{{user.Gender==1?"Male":"Female"}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Nationality</p>
                                <h6 class="text-muted f-w-400">{{user.NationalityEn}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Country Region</p>
                                <h6 class="text-muted f-w-400">{{user.CountryRegionEn}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">City </p>
                                <h6 class="text-muted f-w-400">{{user.CityEn}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Age</p>
                                <h6 class="text-muted f-w-400">{{userAge}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Social media </p>
                                <h6 class="text-muted f-w-400">{{user.SocialMediaEn}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Mobile Number</p>
                                <h6 class="text-muted f-w-400">{{user.MobileNumber}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Email</p>
                                <h6 class="text-muted f-w-400">{{user.Email}}</h6>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">

    <div class="col-xl-3 col-md-6">
        <div class="card statustic-progress-card">
            <div class="card-header">
                <h5>Open Ticket</h5>
            </div>
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col">
                        <label class="label label-danger" ng-if="OpenTicketPer">
                            {{OpenTicketPer}}% <i class="m-l-10 feather icon-arrow-up"></i>
                        </label>
                        <label class="label label-danger" ng-if="!OpenTicketPer">
                            0.00 % <i class="m-l-10 feather icon-arrow-up"></i>
                        </label>
                    </div>
                    <div class="col text-right">
                        <h5 class="">{{OpenTicket.Count}}</h5>
                    </div>
                </div>
                <div class="progress m-t-15">
                    <div class="progress-bar bg-c-pink" style="width:{{OpenTicketPer}}%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card statustic-progress-card">
            <div class="card-header">
                <h5>Close Ticket</h5>
            </div>
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col">
                        <label class="label bg-c-lite-green" ng-if="CloseTicketPer">
                            {{CloseTicketPer}}% <i class="m-l-10 feather icon-arrow-up"></i>
                        </label>
                        <label class="label bg-c-lite-green" ng-if="!CloseTicketPer">
                            0.00 % <i class="m-l-10 feather icon-arrow-up"></i>
                        </label>
                    </div>
                    <div class="col text-right">
                        <h5 class="">{{CloseTicket.Count}}</h5>
                    </div>
                </div>
                <div class="progress m-t-15">
                    <div class="progress-bar bg-c-lite-green" style="width:{{CloseTicketPer}}%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card statustic-progress-card">
            <div class="card-header">
                <h5>OnHold Ticket</h5>
            </div>
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col">
                        <label class="label label-warning" ng-if="OnHoldTicketPer">
                            {{OnHoldTicketPer}}% <i class="m-l-10 feather icon-arrow-up"></i>
                        </label>
                        <label class="label label-warning" ng-if="!OnHoldTicketPer">
                            0.00 % <i class="m-l-10 feather icon-arrow-up"></i>
                        </label>
                    </div>
                    <div class="col text-right">
                        <h5 class="">{{OnHoldTicket.Count}}</h5>
                    </div>
                </div>
                <div class="progress m-t-15">
                    <div class="progress-bar bg-c-yellow" style="width:{{OnHoldTicketPer}}%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card statustic-progress-card">
            <div class="card-header">
                <h5>Cancelled Ticket</h5>
            </div>
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col">
                        <label class="label label-inverse" ng-if="CanceledTicketPer">
                            {{CanceledTicketPer}}% <i class="m-l-10 feather icon-arrow-up"></i>
                        </label>
                        <label class="label label-inverse" ng-if="!CanceledTicketPer">
                            0.00 % <i class="m-l-10 feather icon-arrow-up"></i>
                        </label>
                    </div>
                    <div class="col text-right">
                        <h5 class="">{{CanceledTicket.Count}}</h5>
                    </div>
                </div>
                <div class="progress m-t-15">
                    <div class="progress-bar bg-viber" style="width:{{CanceledTicketPer}}%"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-6">
        <div class="card statustic-progress-card">
            <div class="card-header">
                <h5>Ticket Status</h5>
            </div>
            <div class="card-block">
                <div id="TicketStatusChart"
                     style="width:100%;height:300px;"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-6">
        <div class="card statustic-progress-card">
            <div class="card-header">
                <h5>Ticket Priority</h5>
            </div>
            <div class="card-block">
                <div id="TicketPriorityChart"
                     style="width:100%;height:300px;"></div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-xl-12 col-md-12">
        <div class="card table-card">
            <div class="card-header">
                <h5>Tickets</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li class="drop_list"><span>{{'Status' |translate}} : </span> <select class="editable-input" style="color:#000" ng-change="changestatus(filterstatus)" ng-model="filterstatus" ng-options="g.ID as g.Name for g in filterstatuslist"></select></li>
                        <li><i class="feather icon-refresh-cw" ng-click="GetCustomerTicketList()"></i></li>
                        <li><i class="fa fa-pencil-square-o" ng-click="CreateTicket()"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                        <!-- <li><i class="fa fa-pencil-square-o" ng-click="Ticketupdate()"></i></li> -->
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless table-text-ellipsis">
                        <thead>
                            <tr>
                                <th>{{'Action' |translate}}</th>
                                <th>{{'Ticket Id' |translate}}</th>
                                <th>{{'Ticket Date' |translate}}</th>
                                <th>{{'Created By' |translate}}</th>
                                <th>{{'Contract Number' |translate}}</th>
                                <th>{{'Employee ID' |translate}}</th>
                                <th>{{'Employee Name' |translate}}</th>
                                <th>{{'Status' |translate}}</th>
                                <th>{{'Ticket Type' |translate}}</th>
                                <th>{{'Priority' |translate}}</th>
                                <th>{{'Accuracy' |translate}}</th>
                                <th>{{'Subject' |translate}}</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-class="{'selected': list.EnquiryId == TicketNumber}"
                                ng-repeat="list in CustomerTicketList | filter : Ticketpaginate" ng-click="getTicketDetails(list)">
                                <td class="action_icons">
                                    <!-- <a class="view_details"
        href="#/ticketdetails/{{SerachCustomerID}}/{{list.EnquiryId}}">{{'View Details' | translate}}</a> -->
                                    <a class="view_details" href="#/ticketdetails/{{SerachCustomerID}}/{{list.EnquiryId}}"><i class="fa fa-address-card-o"></i></a>
                                    <a ng-click="Ticketupdate(list)"> <i class="fa fa-commenting-o"></i> </a>
                                </td>
                                <td>
                                    <a class="view_details" href="#/ticketdetails/{{SerachCustomerID}}/{{list.EnquiryId}}">{{list.EnquiryId}}</a>
                                </td>
                                <td>{{(list.EnquieryDate | date:"dd/MM/yyyy") || ''}}</td>
                                <td>{{list.CreatedBy | translate}}</td>
                                <td>{{list.ContractNumber}}</td>
                                <td>{{list.LabourNumber =="null" ? " ":list.LabourNumber}}</td>
                                <td>{{list.LabourName =="null" ? " ":list.LabourName}}</td>
                                <td>{{list.StatusName}}</td>
                                <td>{{list.TicketTypeName}}</td>
                                <td>{{list.PriorityName}}</td>
                                <td>{{list.Accuracy=="0"?"Not Real":list.Accuracy=="1"?"Real":""}}</td>
                                <td style="max-width:200px;" title="{{list.Subject}}">{{list.Subject}}</td>
                            </tr>
                            <tr ng-if="!CustomerTicketList || CustomerTicketList.length <1">
                                <td colspan="9">
                                    {{'No Data Available' | translate}}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <ul class="pagination" ng-if="CustomerTicketList && CustomerTicketList.length > 0">
                        <li class="paging symbol"><a href="" ng-click="selectTicketpagination(1)" ng-class="{inactiveLink: TicketcurrentPage < 2}" class="fa fa-step-backward themeprimary"></a></li>
                        <li class="paging symbol"><a href="" ng-click="selectTicketpagination(TicketcurrentPage - 1)" ng-class="{inactiveLink: TicketcurrentPage < 2}" class="fa fa-chevron-left themeprimary"></a></li>
                        <li class="paging pagetext">
                            <span>
                                <em> {{'Page' | translate}}</em><input type="number" ng-model="TicketcurrentPage" min="1" max="{{Tickettotallist}}" class="txtPage inactiveLink">
                                <em>{{'of' | translate}}</em> <span class="endpage themeprimary">{{Tickettotallist}}</span>
                            </span>
                        </li>
                        <li class="paging symbol"><a href="" ng-click="selectTicketpagination(TicketcurrentPage + 1)" ng-class="{inactiveLink: TicketcurrentPage >= Tickettotallist}" class="fa fa-chevron-right themeprimary"></a></li>
                        <li class="paging symbol"><a href="" ng-click="selectTicketpagination(Tickettotallist)" ng-class="{inactiveLink: TicketcurrentPage >=Tickettotallist}" class="fa fa-step-forward themeprimary"></a></li>
                        <li class="paging pagetext">
                            <span>
                                <select class="txtPage" ng-model="pagination.TicketnumPerPage" ng-change="changeTicketpagesize(pagination.TicketnumPerPage)">
                                    <option value="{{g}}" ng-repeat="g in paginationPageSizes"> {{g}} </option>
                                </select>
                            </span>
                        </li>
                        <li class="paging-totalrecord themeprimary pull-right"><p class="themeprimary"><i>{{'Total Records' | translate}} : <strong>{{CustomerTicketList.length}}</strong></i></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>



