﻿

<div class="row">
    <div class="col-xl-12 col-md-12 display_flex">
        <div class="card user-card-full full_width">
            <div class="row m-l-0 m-r-0">
                <div class="col-sm-3 bg-c-lite-green user-profile">
                    <div class="card-block text-center text-white">
                        <div class="m-b-25">
                            <img ng-if="user.ProfilePath && user.ProfilePath !=''" src="{{APiUrl}}/{{user.ProfilePath}}" class="img-radius img-card-profile" alt="Profile-Image">
                            <img ng-if="!user.ProfilePath || user.ProfilePath ==''" src="/CCPortal/files/assets/images/avatar.jpg" class="img-radius img-card-profile" alt="Profile-Image">
                        </div>
                        <h6 class="f-w-600">{{user.FirstName}} {{user.MiddleName}} {{user.LastName}} {{user.FamilyName}}</h6>
                        <p>{{user.CustomerID}} </p>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="card-block">
                        <h6 class="m-b-10 p-b-5 b-b-default f-w-600 themeprimary">Personal</h6>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Customer ID</p>
                                <h6 class="text-muted f-w-400">{{user.CustomerID}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">National/Iqama Id</p>
                                <h6 class="text-muted f-w-400">{{user.IDNumber}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Gender</p>
                                <h6 class="text-muted f-w-400">{{user.Gender==1?"Male":"Female"}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Nationality</p>
                                <h6 class="text-muted f-w-400">{{user.NationalityEn}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Country Region</p>
                                <h6 class="text-muted f-w-400">{{user.CountryRegionEn}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">City </p>
                                <h6 class="text-muted f-w-400">{{user.CityEn}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Age</p>
                                <h6 class="text-muted f-w-400">{{userAge}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Social media </p>
                                <h6 class="text-muted f-w-400">{{user.SocialMediaEn}}</h6>
                            </div>
                            <div class="col-sm-4">
                                <p class="m-b-10 f-w-600">Mobile Number</p>
                                <h6 class="text-muted f-w-400">{{user.MobileNumber}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Email</p>
                                <h6 class="text-muted f-w-400">{{user.Email}}</h6>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">

    <h6 id="selected_contract" class="m-b-30 p-b-10 b-b-default f-w-600 width-100">
        Selected Ticket - {{Enqlists.EnquiryId}}
        <a class="f-right m-r-15 text-primary" href="#/ticket/{{SerachCustomerID}}">
            <i class="fa fa-mail-reply"></i>
        </a>
    </h6>
    <div class="col-xl-6 col-md-12 display-flex">
        <div class="card social-network  width-100">
            <div class="card-header">
                <h5>{{'Identification' | translate}}</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Ticket ID' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400"> {{Enqlists.EnquiryId}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Ticket Date' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400"> {{Enqlists.EnquieryDate.replace('/Date(','').replace(')/','') | date:"MM/dd/yyyy"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Ticket Type' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{Enqlists.TicketTypeName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Ticket Priority' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400"> {{Enqlists.PriorityName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Status' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{Enqlists.StatusName}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Accuracy' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{list.Accuracy=="0"?"Not Real":list.Accuracy=="1"?"Real":""}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Customer Satisfied' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{list.CustomerSatisfied=="0"?"Not Satisfied":list.CustomerSatisfied=="1"?"Satisfied":""}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-12 display-flex">
        <div class="card social-network  width-100">
            <div class="card-header">
                <h5>{{'Relation' | translate}}</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Customer Name' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{Enqlists.CustomerName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Contract Number' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{Enqlists.ContractNumber }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Labour Number ' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{Enqlists.LabourNumber}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Contact No ' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{Enqlists.ContactNo}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Email' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{Enqlists.Email}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-xl-6 col-md-12 display-flex">
        <div class="card social-network width-100">
            <div class="card-header">
                <h5>{{'Assignment' | translate}}</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Ticket Group' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{Enqlists.GroupName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Sub Group' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{Enqlists.SubGroupName }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Assign Group' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{Enqlists.TicketAssignGroupName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Ticket Channel' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{Enqlists.TicketChannelName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="text-muted m-b-5">{{'Ticket Requester' | translate}} :</p>
                    </div>
                    <div class="col-7">
                        <p class="m-b-5 f-w-400">{{Enqlists.TicketCreater}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <p class="text-muted m-b-3">{{'Subject' | translate}} :</p>
                    </div>
                    <div class="col-9">
                        <p class="m-b-5 f-w-400">{{Enqlists.Subject}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-muted m-b-3">{{'Description' | translate}} :</p>
                    </div>
                    <div class="col-9">
                        <p class="m-b-5 f-w-400">{{Enqlists.Description }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-muted m-b-3">{{'File' | translate}} :</p>
                    </div>
                    <div class="col-9">
                        <div ng-if="Enqlists.EnqFiles">
                            <ul class="filelists">
                                <li ng-repeat="file in Enqlists.EnqFiles">
                                    <!--<a class="glyphicon glyphicon-download-alt" href="{{APiUrl}}/api/DownloadEnqfiles?Eid={{Enqlists.EnquiryId}}&FileNameE={{file.FileName}}" target="_blank">{{file.FileName}}</a>-->
                                    <a class="glyphicon glyphicon-download-alt" href="{{APiUrl}}/Account/ShowEnFileInComment?Eid={{Enqlists.EnquiryId}}&FileNameE={{file.FileName}}" target="_blank">{{file.FileName}}</a>

                                </li>
                            </ul>
                        </div>
                        <div ng-show="!Enqlists.EnqFiles">
                            <a id="nofile" class="glyphicon glyphicon-remove" style="text-decoration:none"> No Declare EnqFile</a>
                        </div>
                        <div ng-show="Enqlists.EnqFiles.length == 0">
                            <a id="nofile" class="glyphicon glyphicon-remove" style="text-decoration:none"> No File</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-12 ticket_upload_details">
        <div class="card user-activity-card">
            <div class="card-header">
                <h5 class="ng-binding">Ticket Updates</h5>
            </div>
            <div class="card-block">
                <div class="panel bank_actives ticket_tab">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a>Internal Reply</a></li>
                            <li><a>External Reply</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="card-block">
                                    <textarea class="fullwidth" ng-model="comments"> </textarea>
                                </div>
                            </div>

                            <div class="tab-pane">
                                <div class="card-block">
                                    <div class="col-sm-12 select_box">
                                        <select id="StatusSelecta" name="StatusSelecta" ng-model="StatusSelecta" ng-change="changeStatusSelected()" ng-options="g.ID as g.Name for g in statuslist"></select>
                                    </div>
                                    <textarea class="fullwidth" ng-model="comments"> </textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row fileupload">
                    <div class="col">
                        <input id="fileUploadQD" type="file">
                    </div>
                    <div class="col" id="CustomerSatisfieddiv" ng-show="showCustomerSatisfied">
                        <label> Is Customer Satisfied ? </label>
                        <select class="editable-input" id="ddlCustomerSatisfied" name="ddlCustomerSatisfied">
                            <option value="0">{{'Not Satisfied' |translate}}</option>
                            <option value="1">{{'Satisfied' |translate}}</option>
                        </select>
                    </div>
                </div>
                <span class="submit_btn">
                    <button type="submit" class="my_btn btn-primary" ng-click="saveupdate(Enqlists.EnquiryId)">
                        Save
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">



    <div class="col-xl-6 col-md-12">
        <div class="card user-activity-card">
            <div class="card-header">
                <h5>{{'Ticket Updates' | translate}}</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="feather icon-refresh-cw" ng-click="getcomments()"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div class="row m-b-25" ng-repeat="list in commentsList">
                    <div class="col-auto p-r-0">
                        <div class="u-img">
                            <img src="/app/CCPortal/files/assets/images/logo.png" alt="image" class="img-radius cover-img" style="background: #000;width:50px;height:50px;">
                        </div>
                    </div>
                    <div class="col">
                        <h6 class="m-b-5">{{list.postedby}}  <span class="f-right" style="font-style:italic;"> {{'status' | translate}} : {{list.StatusName}}</span></h6>
                        <p class="text-muted m-b-0">{{list.Comments}}</p>
                        <p class="text-muted m-b-0" ng-if="list.CustomerSatisfied">Is Customer Satisfied -  {{list.CustomerSatisfied=="0"?"Not Satisfied":list.CustomerSatisfied=="1"?"Satisfied":""}}</p>
                        <p class="text-muted m-b-0"><i class="feather icon-clock m-r-10"></i>{{list.posteddate.replace('/Date(','').replace(')/','') | date:"MM/dd/yyyy" }}</p>

                        <div ng-if="list.tblFiles">
                            <ul class="filelists">
                                <li ng-repeat="file in list.tblFiles">
                                    <a class="glyphicon glyphicon-download-alt" href="{{APiUrl}}/Account/ShowFile?id={{file.CommentId}}&Eid={{Enqlists.EnquiryId}}&FileNameC={{file.FileName}}" target="_blank">{{file.FileName}}</a>
                                </li>
                            </ul>
                        </div>
                        <div ng-show="!list.tblFiles">
                            <a id="nofile" class="glyphicon glyphicon-remove" style="text-decoration:none"> No Declare EnqFile</a>
                        </div>
                        <div ng-show="list.tblFiles.length == 0">
                            <a id="nofile" class="glyphicon glyphicon-remove" style="text-decoration:none"> No File</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>